
# <center>Analyzin world mortality with SQL  and Tableau </center>

## Index

1.	**Introduction**
2.	**Description of dataset**
3.	**Exploring mortality**
    1. Exploring mortality with SQL and Tableau
4.	**Analysis of mortality**
    1. Death by region
    2. Death by country
    3. Death by cause
    4. Death by age range
5. **Exploring Childhood Mortality**
    1. Child Mortality in the world
    2. General causes of death of children under five years of age
    3. Causes of death in the child population of mentioned countries
5. **Conclusions**

## 1. Introduction

Mortality is a demographic indicator that indicates several hints about the world and individual countriesâ€™ situation. Analyzing causes of death might uncover trends and how they vary across different countries and world regions. With that information, public health departments and many organizations can trace strategies to prevent early death and improve their healthcare system which would then increase life quality. 
According to Hannah Ritchie, et al. (2018), around 56 million people die each year; but what caused their deaths? Is the cause of death different around the world? And why? Is death correlated to age? What can the number of deaths tell us? Is it true that older people die more often than young people? Are there places where this is not true? These kinds of questions are answered in this notebook using SQL.

## 2. Description of dataset

The data set used for this notebook was taken from [Our World in Data](https://ourworldindata.org/causes-of-death). The data consists of several tables whose columns are organized by countries, years and the total number of deaths for each registered cause. The years range from 1990 to 2019, the set of tables is organized by age rank, risk factor and the total number of deaths.

## 3. Exploring Mortality

### Mortality Analysis with SQL and Tableau

In the path of a data analyst and a data scientist, SQL is one of the most powerful tools for cleaning and analyzing large amounts of data. SQL allows you to manage simple structured data to gain insights for your business. One of the advantages of this structured language that is its relative ease of use. 
Data analysis cannot be complete without a good visualization of the results, for this type of situation, Tableau offers a diverse set of tools for custom charts and dashboards, allowing the creation of amazing images.

The query below shows the PostgreSQL connection:

In [1]:
%load_ext sql

In [2]:
import os

In [3]:
host = "localhost"
database = "Project_1"
user = os.getenv('SQL_USER')
password = os.getenv('SQL_PASSWORD')

In [4]:
connection_string = f"postgresql://{user}:{password}@{host}/{database}"

In [5]:
%sql $connection_string

'Connected: postgres@Project_1'

## 4. Analisis of mortality

### Death by region

When talking about death, one of the question to comes in is what is the total number of deaths by region? and what of all regions register more deaths?

The query below shows the running total number of death by region:

In [6]:
%%sql 

SELECT "Entity", SUM(deaths) AS total_deaths
FROM 
(
SELECT "Entity", (
    SELECT SUM(t.f)
    FROM (VALUES
		  ("Deaths - Meningitis "),
		  ("Deaths - Alzheimers disease and other dementias"), 
		  ("Deaths - Parkinsons disease"),
		  ("Deaths - Nutritional deficiencies"),
		  ("Deaths - Malaria"),
		  ("Deaths - Drowning"),
		  ("Deaths - Interpersonal violence"),
		  ("Deaths - Maternal disorders"),
		  ("Deaths - HIV/AIDS"),
		  ("Deaths - Drug use disorders"),
		  ("Deaths - Tuberculosis"),
		  ("Deaths - Cardiovascular diseases"),
		  ("Deaths - Lower respiratory infections"),
		  ("Deaths - Neonatal disorders"),
		  ("Deaths - Alcohol use disorders"),
		  ("Deaths - Self-harm"),
		  ("Deaths - Exposure to forces of nature"),
		  ("Deaths - Diarrheal diseases"),
		  ("Deaths - Environmental heat and cold exposure"),
		  ("Deaths - Neoplasms"),
		  ("Deaths - Conflict and terrorism"),
		  ("Deaths - Diabetes mellitus"),
		  ("Deaths - Chronic kidney disease"),
		  ("Deaths - Poisonings"),
		  ("Deaths - Protein-energy malnutrition"),
		  ("Deaths - Terrorism (deaths)"),
		  ("Deaths - Road injuries"),
		  ("Deaths - Chronic respiratory diseases"),
		  ("Deaths - Cirrhosis and other chronic liver diseases"),
		  ("Deaths - Digestive diseases"),
		  ("Deaths - Fire heat and hot substances"),
		  ("Deaths - Acute hepatitis")	    
		 ) 
	AS t(f)
) AS deaths
FROM mortality."annual-number-of-deaths-by-cause"
WHERE "Code" is null and "Entity" like '%WH%' or "Entity" like '%WB%'
ORDER BY 1 DESC
) AS deaths
GROUP BY 1
ORDER BY 2 DESC

 * postgresql://postgres:***@localhost/Project_1
13 rows affected.

[('East Asia & Pacific (WB)', Decimal('428951402')),
 ('Western Pacific Region (WHO)', Decimal('351574538')),
 ('South-East Asia Region (WHO)', Decimal('347872223')),
 ('South Asia (WB)', Decimal('315886910')),
 ('European Region (WHO)', Decimal('269020182')),
 ('Europe & Central Asia (WB)', Decimal('267243966')),
 ('Sub-Saharan Africa (WB)', Decimal('230466505')),
 ('African Region (WHO)', Decimal('225038182')),
 ('Region of the Americas (WHO)', Decimal('170272792')),
 ('Eastern Mediterranean Region (WHO)', Decimal('101790640')),
 ('Latin America & Caribbean (WB)', Decimal('93406414')),
 ('North America (WB)', Decimal('77761914')),
 ('Middle East & North Africa (WB)', Decimal('53816178'))]

People could die because of several causes, this dataset count 32 causes of death. Taking that into account is worth knowing what is the main cause of death in the world.

The following query answers that question:

In [7]:
%%sql 

WITH deaths_by_all_causes AS(
SELECT "Entity","Code", "Year",
UNNEST(ARRAY ['Meningitis',
			  'Alzheimers disease and other dementias',
			  'Parkinsons disease',
			  'Nutritional deficiencies',
			  'Malaria',
			  'Drowning',
			  'Interpersonal violence',
			  'Maternal disorders',
			  'HIV/AIDS',
			  'Drug use disorders',
			  'Tuberculosis',
			  'Cardiovascular diseases',
			  'Lower respiratory infections',
			  'Neonatal disorders',
			  'Alcohol use disorders',
			  'Self-harm',
			  'Exposure to forces of nature',
			  'Diarrheal diseases',
			  'Environmental heat and cold exposure',
			  'Neoplasms',
			  'Conflict and terrorism',
			  'Diabetes mellitus',
			  'Chronic kidney disease',
			  'Poisonings',
			  'Protein-energy malnutrition',
			  'Terrorism (deaths)',
			  'Road injuries',
			  'Chronic respiratory diseases',
			  'Cirrhosis and other chronic liver diseases',
			  'Digestive diseases',
			  'Fire heat and hot substances',
			  'Acute hepatitis'
			 ]) AS cause_of_deaths,
UNNEST(ARRAY ["Deaths - Meningitis ",
			  "Deaths - Alzheimers disease and other dementias",
			  "Deaths - Parkinsons disease",
			  "Deaths - Nutritional deficiencies",
			  "Deaths - Malaria",
			  "Deaths - Drowning",
			  "Deaths - Interpersonal violence",
			  "Deaths - Maternal disorders",
			  "Deaths - HIV/AIDS",
			  "Deaths - Drug use disorders",
			  "Deaths - Tuberculosis",
			  "Deaths - Cardiovascular diseases",
			  "Deaths - Lower respiratory infections",
			  "Deaths - Neonatal disorders",
			  "Deaths - Alcohol use disorders",
			  "Deaths - Self-harm",
			  "Deaths - Exposure to forces of nature",
			  "Deaths - Diarrheal diseases",
			  "Deaths - Environmental heat and cold exposure",
			  "Deaths - Neoplasms",
			  "Deaths - Conflict and terrorism",
			  "Deaths - Diabetes mellitus",
			  "Deaths - Chronic kidney disease",
			  "Deaths - Poisonings",
			  "Deaths - Protein-energy malnutrition",
			  "Deaths - Terrorism (deaths)",
			  "Deaths - Road injuries",
			  "Deaths - Chronic respiratory diseases",
			  "Deaths - Cirrhosis and other chronic liver diseases",
			  "Deaths - Digestive diseases",
			  "Deaths - Fire heat and hot substances",
			  "Deaths - Acute hepatitis"
			 ]) AS number_of_deaths
FROM mortality."annual-number-of-deaths-by-cause"
)
SELECT cause_of_deaths, SUM(number_of_deaths) AS total_deaths
FROM deaths_by_all_causes
GROUP BY 1
ORDER BY 2 DESC
LIMIT 5

 * postgresql://postgres:***@localhost/Project_1
5 rows affected.

[('Cardiovascular diseases', 2674494456),
 ('Neoplasms', 1414869873),
 ('Chronic respiratory diseases', 624518660),
 ('Lower respiratory infections', 474311819),
 ('Neonatal disorders', 419395741)]

The query shows that the main cause of death in the world is **cardiovascular disease**, which is a general term for conditions affecting the heart or blood vessels. It's usually associated with a build-up of fatty deposits inside the arteries (atherosclerosis) and an increased risk of blood clots. Also, it can be associated with damage to arteries in organs such as the brain, heart, kidneys, and eyes.

Now the question is: Is it possible that this cause remains the main cause of death in all regions?

The query below shows the top 5 causes of death for all regions organized by rank from 1 to 5.

In [8]:
%%sql


WITH deaths_by_all_causes AS(
SELECT "Entity","Code", "Year",
UNNEST(ARRAY ['Meningitis',
			  'Alzheimers disease and other dementias',
			  'Parkinsons disease',
			  'Nutritional deficiencies',
			  'Malaria',
			  'Drowning',
			  'Interpersonal violence',
			  'Maternal disorders',
			  'HIV/AIDS',
			  'Drug use disorders',
			  'Tuberculosis',
			  'Cardiovascular diseases',
			  'Lower respiratory infections',
			  'Neonatal disorders',
			  'Alcohol use disorders',
			  'Self-harm',
			  'Exposure to forces of nature',
			  'Diarrheal diseases',
			  'Environmental heat and cold exposure',
			  'Neoplasms',
			  'Conflict and terrorism',
			  'Diabetes mellitus',
			  'Chronic kidney disease',
			  'Poisonings',
			  'Protein-energy malnutrition',
			  'Terrorism (deaths)',
			  'Road injuries',
			  'Chronic respiratory diseases',
			  'Cirrhosis and other chronic liver diseases',
			  'Digestive diseases',
			  'Fire heat and hot substances',
			  'Acute hepatitis'
			 ]) AS cause_of_deaths,
UNNEST(ARRAY ["Deaths - Meningitis ",
			  "Deaths - Alzheimers disease and other dementias",
			  "Deaths - Parkinsons disease",
			  "Deaths - Nutritional deficiencies",
			  "Deaths - Malaria",
			  "Deaths - Drowning",
			  "Deaths - Interpersonal violence",
			  "Deaths - Maternal disorders",
			  "Deaths - HIV/AIDS",
			  "Deaths - Drug use disorders",
			  "Deaths - Tuberculosis",
			  "Deaths - Cardiovascular diseases",
			  "Deaths - Lower respiratory infections",
			  "Deaths - Neonatal disorders",
			  "Deaths - Alcohol use disorders",
			  "Deaths - Self-harm",
			  "Deaths - Exposure to forces of nature",
			  "Deaths - Diarrheal diseases",
			  "Deaths - Environmental heat and cold exposure",
			  "Deaths - Neoplasms",
			  "Deaths - Conflict and terrorism",
			  "Deaths - Diabetes mellitus",
			  "Deaths - Chronic kidney disease",
			  "Deaths - Poisonings",
			  "Deaths - Protein-energy malnutrition",
			  "Deaths - Terrorism (deaths)",
			  "Deaths - Road injuries",
			  "Deaths - Chronic respiratory diseases",
			  "Deaths - Cirrhosis and other chronic liver diseases",
			  "Deaths - Digestive diseases",
			  "Deaths - Fire heat and hot substances",
			  "Deaths - Acute hepatitis"
			 ]) AS number_of_deaths
FROM mortality."annual-number-of-deaths-by-cause"
WHERE "Code" IS null AND "Entity" LIKE '%WH%' OR "Entity" LIKE '%WB%'
)
SELECT ranked_causes_of_deaths.* FROM 
(
SELECT "Entity", cause_of_deaths, MAX(number_of_deaths) AS top_deaths,
RANK() OVER(PARTITION BY "Entity" ORDER BY MAX(number_of_deaths) DESC) AS rn
FROM deaths_by_all_causes
WHERE number_of_deaths IS NOT null 
GROUP BY 1,2 
ORDER BY 1, 3 DESC
	) ranked_causes_of_deaths
WHERE rn <= 5;

 * postgresql://postgres:***@localhost/Project_1
65 rows affected.

[('African Region (WHO)', 'HIV/AIDS', 1491641, 1),
 ('African Region (WHO)', 'Cardiovascular diseases', 1085321, 2),
 ('African Region (WHO)', 'Diarrheal diseases', 958854, 3),
 ('African Region (WHO)', 'Malaria', 841388, 4),
 ('African Region (WHO)', 'Lower respiratory infections', 820652, 5),
 ('East Asia & Pacific (WB)', 'Cardiovascular diseases', 6737347, 1),
 ('East Asia & Pacific (WB)', 'Neoplasms', 4090361, 2),
 ('East Asia & Pacific (WB)', 'Chronic respiratory diseases', 1654020, 3),
 ('East Asia & Pacific (WB)', 'Lower respiratory infections', 908798, 4),
 ('East Asia & Pacific (WB)', 'Digestive diseases', 658249, 5),
 ('Eastern Mediterranean Region (WHO)', 'Cardiovascular diseases', 1374978, 1),
 ('Eastern Mediterranean Region (WHO)', 'Neoplasms', 477361, 2),
 ('Eastern Mediterranean Region (WHO)', 'Neonatal disorders', 465321, 3),
 ('Eastern Mediterranean Region (WHO)', 'Diarrheal diseases', 254116, 4),
 ('Eastern Mediterranean Region (WHO)', 'Lower respiratory infections', 252563, 5),
 ('Europe & Central Asia (WB)', 'Cardiovascular diseases', 4518207, 1),
 ('Europe & Central Asia (WB)', 'Neoplasms', 2239506, 2),
 ('Europe & Central Asia (WB)', 'Digestive diseases', 449795, 3),
 ('Europe & Central Asia (WB)', 'Alzheimers disease and other dementias', 413743, 4),
 ('Europe & Central Asia (WB)', 'Chronic respiratory diseases', 397707, 5),
 ('European Region (WHO)', 'Cardiovascular diseases', 4543350, 1),
 ('European Region (WHO)', 'Neoplasms', 2260409, 2),
 ('European Region (WHO)', 'Digestive diseases', 452555, 3),
 ('European Region (WHO)', 'Alzheimers disease and other dementias', 417167, 4),
 ('European Region (WHO)', 'Chronic respiratory diseases', 399876, 5),
 ('Latin America & Caribbean (WB)', 'Cardiovascular diseases', 1099697, 1),
 ('Latin America & Caribbean (WB)', 'Neoplasms', 762569, 2),
 ('Latin America & Caribbean (WB)', 'Digestive diseases', 261701, 3),
 ('Latin America & Caribbean (WB)', 'Lower respiratory infections', 233225, 4),
 ('Latin America & Caribbean (WB)', 'Exposure to forces of nature', 225428, 5),
 ('Middle East & North Africa (WB)', 'Cardiovascular diseases', 997507, 1),
 ('Middle East & North Africa (WB)', 'Neoplasms', 293600, 2),
 ('Middle East & North Africa (WB)', 'Neonatal disorders', 196874, 3),
 ('Middle East & North Africa (WB)', 'Road injuries', 126274, 4),
 ('Middle East & North Africa (WB)', 'Lower respiratory infections', 125383, 5),
 ('North America (WB)', 'Cardiovascular diseases', 1040308, 1),
 ('North America (WB)', 'Neoplasms', 867146, 2),
 ('North America (WB)', 'Chronic respiratory diseases', 243391, 3),
 ('North America (WB)', 'Alzheimers disease and other dementias', 161002, 4),
 ('North America (WB)', 'Digestive diseases', 142234, 5),
 ('Region of the Americas (WHO)', 'Cardiovascular diseases', 2130471, 1),
 ('Region of the Americas (WHO)', 'Neoplasms', 1622270, 2),
 ('Region of the Americas (WHO)', 'Chronic respiratory diseases', 449174, 3),
 ('Region of the Americas (WHO)', 'Digestive diseases', 402205, 4),
 ('Region of the Americas (WHO)', 'Lower respiratory infections', 322980, 5),
 ('South-East Asia Region (WHO)', 'Cardiovascular diseases', 4004479, 1),
 ('South-East Asia Region (WHO)', 'Neoplasms', 1519162, 2),
 ('South-East Asia Region (WHO)', 'Chronic respiratory diseases', 1494723, 3),
 ('South-East Asia Region (WHO)', 'Diarrheal diseases', 1424622, 4),
 ('South-East Asia Region (WHO)', 'Neonatal disorders', 1193535, 5),
 ('South Asia (WB)', 'Cardiovascular diseases', 3397086, 1),
 ('South Asia (WB)', 'Chronic respiratory diseases', 1384204, 2),
 ('South Asia (WB)', 'Diarrheal diseases', 1383476, 3),
 ('South Asia (WB)', 'Neoplasms', 1280775, 4),
 ('South Asia (WB)', 'Neonatal disorders', 1252550, 5),
 ('Sub-Saharan Africa (WB)', 'HIV/AIDS', 1498836, 1),
 ('Sub-Saharan Africa (WB)', 'Cardiovascular diseases', 1080282, 2),
 ('Sub-Saharan Africa (WB)', 'Diarrheal diseases', 998022, 3),
 ('Sub-Saharan Africa (WB)', 'Neonatal disorders', 849931, 4),
 ('Sub-Saharan Africa (WB)', 'Malaria', 848278, 5),
 ('Western Pacific Region (WHO)', 'Cardiovascular diseases', 5709784, 1),
 ('Western Pacific Region (WHO)', 'Neoplasms', 3632974, 2),
 ('Western Pacific Region (WHO)', 'Chronic respiratory diseases', 1490039, 3),
 ('Western Pacific Region (WHO)', 'Lower respiratory infections', 733835, 4),
 ('Western Pacific Region (WHO)', 'Alzheimers disease and other dementias', 559566, 5)]

It is a well-known saying that an image says more than a thousand words, images make it easy to view trends, and for this reason, the output was organized in the graph below.

The graph shows the top 5 causes of death in each region. The graph shows that cardiovascular disease as the main cause of death prevails as a trend in almost all regions with more than 40% of total deaths except for the Africa Region whose main cause of death is HIV/AIDS.
The Africa Region includes Sub-Saharan Africa and North Africa. However, if the Arabic countries are separated from the non-Arabic ones and consider Sub-Saharan Africa and North Africa-Middle East, it is clear that Sub-Saharan Africa is responsible for the change in the trend and that the North Africa-Middle East region maintains cardiovascular disease as the principal cause of death.

In [9]:
%%html
<div class='tableauPlaceholder' id='viz1673365659052' style='position: relative'><noscript><a href='#'><img alt='Dashboard 1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Gr&#47;Graph1MortalityProyect&#47;Dashboard1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='Graph1MortalityProyect&#47;Dashboard1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Gr&#47;Graph1MortalityProyect&#47;Dashboard1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='es-ES' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1673365659052');                    var vizElement = divElement.getElementsByTagName('object')[0];                    if ( divElement.offsetWidth > 800 ) { vizElement.style.minWidth='889px';vizElement.style.maxWidth='1089px';vizElement.style.width='100%';vizElement.style.minHeight='351px';vizElement.style.maxHeight='551px';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';} else if ( divElement.offsetWidth > 500 ) { vizElement.style.minWidth='889px';vizElement.style.maxWidth='1089px';vizElement.style.width='100%';vizElement.style.minHeight='351px';vizElement.style.maxHeight='551px';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';} else { vizElement.style.width='100%';vizElement.style.height='727px';}                     var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

### Death by country

In the same way, as with the regions, it is worth knowing which are the countries that register the most total deaths, for that only currently existing countries were taken into consideration, which means, countries like USSR were not taken into account.

The following query shows which of all countries registered more total deaths, the countries are organized  in a top 10:

In [10]:
%%sql


SELECT "Entity","Code", SUM(deaths) AS total_deaths
FROM 
(
SELECT "Entity","Code", (
    SELECT SUM(t.f)
    FROM (VALUES
		  ("Deaths - Meningitis "),
		  ("Deaths - Alzheimers disease and other dementias"), 
		  ("Deaths - Parkinsons disease"),
		  ("Deaths - Nutritional deficiencies"),
		  ("Deaths - Malaria"),
		  ("Deaths - Drowning"),
		  ("Deaths - Interpersonal violence"),
		  ("Deaths - Maternal disorders"),
		  ("Deaths - HIV/AIDS"),
		  ("Deaths - Drug use disorders"),
		  ("Deaths - Tuberculosis"),
		  ("Deaths - Cardiovascular diseases"),
		  ("Deaths - Lower respiratory infections"),
		  ("Deaths - Neonatal disorders"),
		  ("Deaths - Alcohol use disorders"),
		  ("Deaths - Self-harm"),
		  ("Deaths - Exposure to forces of nature"),
		  ("Deaths - Diarrheal diseases"),
		  ("Deaths - Environmental heat and cold exposure"),
		  ("Deaths - Neoplasms"),
		  ("Deaths - Conflict and terrorism"),
		  ("Deaths - Diabetes mellitus"),
		  ("Deaths - Chronic kidney disease"),
		  ("Deaths - Poisonings"),
		  ("Deaths - Protein-energy malnutrition"),
		  ("Deaths - Terrorism (deaths)"),
		  ("Deaths - Road injuries"),
		  ("Deaths - Chronic respiratory diseases"),
		  ("Deaths - Cirrhosis and other chronic liver diseases"),
		  ("Deaths - Digestive diseases"),
		  ("Deaths - Fire heat and hot substances"),
		  ("Deaths - Acute hepatitis")	    
		 ) 
	AS t(f)
) AS deaths
FROM mortality."annual-number-of-deaths-by-cause"
WHERE "Code" IS NOT null AND "Code" NOT LIKE '%\_%'
ORDER BY 1 DESC
) AS deaths
GROUP BY "Entity", "Code"
ORDER BY 3 DESC
LIMIT 10;

 * postgresql://postgres:***@localhost/Project_1
10 rows affected.

[('China', 'CHN', Decimal('265409094')),
 ('India', 'IND', Decimal('238174375')),
 ('United States', 'USA', Decimal('71201337')),
 ('Russia', 'RUS', Decimal('59595463')),
 ('Indonesia', 'IDN', Decimal('44048080')),
 ('Nigeria', 'NGA', Decimal('43692688')),
 ('Pakistan', 'PAK', Decimal('38175202')),
 ('Brazil', 'BRA', Decimal('32674245')),
 ('Japan', 'JPN', Decimal('31922852')),
 ('Germany', 'DEU', Decimal('25559751'))]

We can see that the top ten countries are all countries with a high population, which is why it is not surprising that these countries are the ones that report the highest number of total deaths, but what are the leading causes of death in those countries?

The following query gives the leading causes of death in those countries ranking from 1 to 5, where 1 is the cause with the most registered deaths and 5 is the last one.

In [11]:
%%sql

WITH deaths_by_all_causes AS(
SELECT "Entity","Code", "Year",
UNNEST(ARRAY ['Meningitis',
			  'Alzheimers disease and other dementias',
			  'Parkinsons disease',
			  'Nutritional deficiencies',
			  'Malaria',
			  'Drowning',
			  'Interpersonal violence',
			  'Maternal disorders',
			  'HIV/AIDS',
			  'Drug use disorders',
			  'Tuberculosis',
			  'Cardiovascular diseases',
			  'Lower respiratory infections',
			  'Neonatal disorders',
			  'Alcohol use disorders',
			  'Self-harm',
			  'Exposure to forces of nature',
			  'Diarrheal diseases',
			  'Environmental heat and cold exposure',
			  'Neoplasms',
			  'Conflict and terrorism',
			  'Diabetes mellitus',
			  'Chronic kidney disease',
			  'Poisonings',
			  'Protein-energy malnutrition',
			  'Terrorism (deaths)',
			  'Road injuries',
			  'Chronic respiratory diseases',
			  'Cirrhosis and other chronic liver diseases',
			  'Digestive diseases',
			  'Fire heat and hot substances',
			  'Acute hepatitis'
			 ]) AS cause_of_deaths,
UNNEST(ARRAY ["Deaths - Meningitis ",
			  "Deaths - Alzheimers disease and other dementias",
			  "Deaths - Parkinsons disease",
			  "Deaths - Nutritional deficiencies",
			  "Deaths - Malaria",
			  "Deaths - Drowning",
			  "Deaths - Interpersonal violence",
			  "Deaths - Maternal disorders",
			  "Deaths - HIV/AIDS",
			  "Deaths - Drug use disorders",
			  "Deaths - Tuberculosis",
			  "Deaths - Cardiovascular diseases",
			  "Deaths - Lower respiratory infections",
			  "Deaths - Neonatal disorders",
			  "Deaths - Alcohol use disorders",
			  "Deaths - Self-harm",
			  "Deaths - Exposure to forces of nature",
			  "Deaths - Diarrheal diseases",
			  "Deaths - Environmental heat and cold exposure",
			  "Deaths - Neoplasms",
			  "Deaths - Conflict and terrorism",
			  "Deaths - Diabetes mellitus",
			  "Deaths - Chronic kidney disease",
			  "Deaths - Poisonings",
			  "Deaths - Protein-energy malnutrition",
			  "Deaths - Terrorism (deaths)",
			  "Deaths - Road injuries",
			  "Deaths - Chronic respiratory diseases",
			  "Deaths - Cirrhosis and other chronic liver diseases",
			  "Deaths - Digestive diseases",
			  "Deaths - Fire heat and hot substances",
			  "Deaths - Acute hepatitis"
			 ]) AS number_of_deaths
FROM mortality."annual-number-of-deaths-by-cause"
WHERE "Code" IS NOT null AND "Code" NOT LIKE '%\_%'
),
top_countries AS (
SELECT "Entity","Code", SUM(deaths) AS total_deaths
FROM 
(
SELECT "Entity","Code", (
    SELECT SUM(t.f)
    FROM (VALUES
		  ("Deaths - Meningitis "),
		  ("Deaths - Alzheimers disease and other dementias"), 
		  ("Deaths - Parkinsons disease"),
		  ("Deaths - Nutritional deficiencies"),
		  ("Deaths - Malaria"),
		  ("Deaths - Drowning"),
		  ("Deaths - Interpersonal violence"),
		  ("Deaths - Maternal disorders"),
		  ("Deaths - HIV/AIDS"),
		  ("Deaths - Drug use disorders"),
		  ("Deaths - Tuberculosis"),
		  ("Deaths - Cardiovascular diseases"),
		  ("Deaths - Lower respiratory infections"),
		  ("Deaths - Neonatal disorders"),
		  ("Deaths - Alcohol use disorders"),
		  ("Deaths - Self-harm"),
		  ("Deaths - Exposure to forces of nature"),
		  ("Deaths - Diarrheal diseases"),
		  ("Deaths - Environmental heat and cold exposure"),
		  ("Deaths - Neoplasms"),
		  ("Deaths - Conflict and terrorism"),
		  ("Deaths - Diabetes mellitus"),
		  ("Deaths - Chronic kidney disease"),
		  ("Deaths - Poisonings"),
		  ("Deaths - Protein-energy malnutrition"),
		  ("Deaths - Terrorism (deaths)"),
		  ("Deaths - Road injuries"),
		  ("Deaths - Chronic respiratory diseases"),
		  ("Deaths - Cirrhosis and other chronic liver diseases"),
		  ("Deaths - Digestive diseases"),
		  ("Deaths - Fire heat and hot substances"),
		  ("Deaths - Acute hepatitis")	    
		 ) 
	AS t(f)
) AS deaths
FROM mortality."annual-number-of-deaths-by-cause"
WHERE "Code" IS NOT null AND "Code" NOT LIKE '%\_%'
ORDER BY 1 DESC
) AS deaths
GROUP BY "Entity", "Code"
ORDER BY 3 DESC
LIMIT 10
)
SELECT ranked_causes_of_deaths.* FROM (
SELECT a."Entity", a."Code", a.cause_of_deaths, MAX(number_of_deaths) AS top_deaths,
RANK() OVER(PARTITION BY a."Entity" ORDER BY MAX(number_of_deaths) DESC) AS rn
FROM deaths_by_all_causes a
JOIN top_countries b
ON a."Entity" = b."Entity"
WHERE number_of_deaths IS NOT null 
GROUP BY 1,2,3 
ORDER BY 1, 4 DESC
	) ranked_causes_of_deaths
WHERE rn <= 5;

 * postgresql://postgres:***@localhost/Project_1
50 rows affected.

[('Brazil', 'BRA', 'Cardiovascular diseases', 397993, 1),
 ('Brazil', 'BRA', 'Neoplasms', 266014, 2),
 ('Brazil', 'BRA', 'Lower respiratory infections', 88641, 3),
 ('Brazil', 'BRA', 'Neonatal disorders', 82075, 4),
 ('Brazil', 'BRA', 'Digestive diseases', 78484, 5),
 ('China', 'CHN', 'Cardiovascular diseases', 4584273, 1),
 ('China', 'CHN', 'Neoplasms', 2716551, 2),
 ('China', 'CHN', 'Chronic respiratory diseases', 1366039, 3),
 ('China', 'CHN', 'Lower respiratory infections', 543901, 4),
 ('China', 'CHN', 'Road injuries', 329237, 5),
 ('Germany', 'DEU', 'Cardiovascular diseases', 451910, 1),
 ('Germany', 'DEU', 'Neoplasms', 274088, 2),
 ('Germany', 'DEU', 'Alzheimers disease and other dementias', 49557, 3),
 ('Germany', 'DEU', 'Digestive diseases', 48420, 4),
 ('Germany', 'DEU', 'Chronic respiratory diseases', 45165, 5),
 ('India', 'IND', 'Cardiovascular diseases', 2574410, 1),
 ('India', 'IND', 'Chronic respiratory diseases', 1168381, 2),
 ('India', 'IND', 'Diarrheal diseases', 1119477, 3),
 ('India', 'IND', 'Neoplasms', 932587, 4),
 ('India', 'IND', 'Neonatal disorders', 852761, 5),
 ('Indonesia', 'IDN', 'Cardiovascular diseases', 651481, 1),
 ('Indonesia', 'IDN', 'Neoplasms', 229524, 2),
 ('Indonesia', 'IDN', 'Exposure to forces of nature', 166020, 3),
 ('Indonesia', 'IDN', 'Diarrheal diseases', 133685, 4),
 ('Indonesia', 'IDN', 'Tuberculosis', 128009, 5),
 ('Japan', 'JPN', 'Neoplasms', 442474, 1),
 ('Japan', 'JPN', 'Cardiovascular diseases', 372483, 2),
 ('Japan', 'JPN', 'Alzheimers disease and other dementias', 164874, 3),
 ('Japan', 'JPN', 'Lower respiratory infections', 118801, 4),
 ('Japan', 'JPN', 'Digestive diseases', 60801, 5),
 ('Nigeria', 'NGA', 'Diarrheal diseases', 297403, 1),
 ('Nigeria', 'NGA', 'Malaria', 280604, 2),
 ('Nigeria', 'NGA', 'Lower respiratory infections', 216774, 3),
 ('Nigeria', 'NGA', 'Neonatal disorders', 204573, 4),
 ('Nigeria', 'NGA', 'Cardiovascular diseases', 163496, 5),
 ('Pakistan', 'PAK', 'Cardiovascular diseases', 341108, 1),
 ('Pakistan', 'PAK', 'Neonatal disorders', 285100, 2),
 ('Pakistan', 'PAK', 'Neoplasms', 179773, 3),
 ('Pakistan', 'PAK', 'Diarrheal diseases', 133214, 4),
 ('Pakistan', 'PAK', 'Tuberculosis', 87435, 5),
 ('Russia', 'RUS', 'Cardiovascular diseases', 1338945, 1),
 ('Russia', 'RUS', 'Neoplasms', 354235, 2),
 ('Russia', 'RUS', 'Digestive diseases', 99066, 3),
 ('Russia', 'RUS', 'Self-harm', 83237, 4),
 ('Russia', 'RUS', 'Chronic respiratory diseases', 74217, 5),
 ('United States', 'USA', 'Cardiovascular diseases', 957455, 1),
 ('United States', 'USA', 'Neoplasms', 773895, 2),
 ('United States', 'USA', 'Chronic respiratory diseases', 224988, 3),
 ('United States', 'USA', 'Alzheimers disease and other dementias', 143919, 4),
 ('United States', 'USA', 'Digestive diseases', 129343, 5)]

To appreciate better those results, the graph below shows the top 5 deaths in the mentioned countries. Cardiovascular disease remains the main cause in almost all countries with at least 39% of total deaths in the set of 5 leading causes, except for Nigeria and Japan, in which the leading causes are diarrheal disease and neoplasm respectively. Also, there are clear differences between those countries with high economic development and those with lower economic development such as India, Nigeria, Pakistan, and Brazil, which register neonatal disorders as one of the main causes of death.

In [12]:
%%html
<div class='tableauPlaceholder' id='viz1673365787527' style='position: relative'><noscript><a href='#'><img alt='Dashboard 1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Gr&#47;Graph2_1MortalityProject&#47;Dashboard1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='Graph2_1MortalityProject&#47;Dashboard1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Gr&#47;Graph2_1MortalityProject&#47;Dashboard1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='es-ES' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1673365787527');                    var vizElement = divElement.getElementsByTagName('object')[0];                    if ( divElement.offsetWidth > 800 ) { vizElement.style.minWidth='920px';vizElement.style.maxWidth='1020px';vizElement.style.width='100%';vizElement.style.height='587px';} else if ( divElement.offsetWidth > 500 ) { vizElement.style.minWidth='920px';vizElement.style.maxWidth='1020px';vizElement.style.width='100%';vizElement.style.height='587px';} else { vizElement.style.width='100%';vizElement.style.height='727px';}                     var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

### Death by cause

The following graph shows a global overview of the leading causes of death during the recorded years (1990-2019), the data were extracted with the following query, for ease, an additional table was created selecting only the 13 most frequent causes of death for all countries, and only 5 leading causes of death per year were taken into consideration. The output only shows the first 50 rows.

In [13]:
%%sql

SELECT top5_deaths_by_year.* FROM (SELECT "Entity", "Code", "Year", cause_of_deaths, MAX(total_deaths) AS total_deaths,
RANK() OVER(PARTITION BY "Entity", "Year" ORDER BY MAX(total_deaths) DESC) AS rn
FROM mortality.top13_deaths_in_countries
GROUP BY 1,2,3,4
ORDER BY 1,5,6 DESC) top5_deaths_by_year
WHERE rn <= 5
ORDER BY 1,3,5 DESC
LIMIT 50

 * postgresql://postgres:***@localhost/Project_1
50 rows affected.

[('Afghanistan', 'AFG', 1990, 'Cardiovascular diseases', 44899, 1),
 ('Afghanistan', 'AFG', 1990, 'Lower respiratory infections', 23741, 2),
 ('Afghanistan', 'AFG', 1990, 'Neonatal disorders', 15612, 3),
 ('Afghanistan', 'AFG', 1990, 'Neoplasms', 11580, 4),
 ('Afghanistan', 'AFG', 1990, 'Chronic respiratory diseases', 5945, 5),
 ('Afghanistan', 'AFG', 1991, 'Cardiovascular diseases', 45492, 1),
 ('Afghanistan', 'AFG', 1991, 'Lower respiratory infections', 24504, 2),
 ('Afghanistan', 'AFG', 1991, 'Neonatal disorders', 17128, 3),
 ('Afghanistan', 'AFG', 1991, 'Neoplasms', 11796, 4),
 ('Afghanistan', 'AFG', 1991, 'Chronic respiratory diseases', 6050, 5),
 ('Afghanistan', 'AFG', 1992, 'Cardiovascular diseases', 46557, 1),
 ('Afghanistan', 'AFG', 1992, 'Lower respiratory infections', 27404, 2),
 ('Afghanistan', 'AFG', 1992, 'Neonatal disorders', 20060, 3),
 ('Afghanistan', 'AFG', 1992, 'Neoplasms', 12218, 4),
 ('Afghanistan', 'AFG', 1992, 'Chronic respiratory diseases', 6223, 5),
 ('Afghanistan', 'AFG', 1993, 'Cardiovascular diseases', 47951, 1),
 ('Afghanistan', 'AFG', 1993, 'Lower respiratory infections', 31116, 2),
 ('Afghanistan', 'AFG', 1993, 'Neonatal disorders', 22335, 3),
 ('Afghanistan', 'AFG', 1993, 'Neoplasms', 12634, 4),
 ('Afghanistan', 'AFG', 1993, 'Diarrheal diseases', 8174, 5),
 ('Afghanistan', 'AFG', 1994, 'Cardiovascular diseases', 49308, 1),
 ('Afghanistan', 'AFG', 1994, 'Lower respiratory infections', 33390, 2),
 ('Afghanistan', 'AFG', 1994, 'Neonatal disorders', 23288, 3),
 ('Afghanistan', 'AFG', 1994, 'Neoplasms', 12914, 4),
 ('Afghanistan', 'AFG', 1994, 'Diarrheal diseases', 8215, 5),
 ('Afghanistan', 'AFG', 1995, 'Cardiovascular diseases', 50158, 1),
 ('Afghanistan', 'AFG', 1995, 'Lower respiratory infections', 34030, 2),
 ('Afghanistan', 'AFG', 1995, 'Neonatal disorders', 23722, 3),
 ('Afghanistan', 'AFG', 1995, 'Neoplasms', 13106, 4),
 ('Afghanistan', 'AFG', 1995, 'Diarrheal diseases', 9566, 5),
 ('Afghanistan', 'AFG', 1996, 'Cardiovascular diseases', 51125, 1),
 ('Afghanistan', 'AFG', 1996, 'Lower respiratory infections', 34787, 2),
 ('Afghanistan', 'AFG', 1996, 'Neonatal disorders', 24104, 3),
 ('Afghanistan', 'AFG', 1996, 'Neoplasms', 13335, 4),
 ('Afghanistan', 'AFG', 1996, 'Diarrheal diseases', 9682, 5),
 ('Afghanistan', 'AFG', 1997, 'Cardiovascular diseases', 52039, 1),
 ('Afghanistan', 'AFG', 1997, 'Lower respiratory infections', 35565, 2),
 ('Afghanistan', 'AFG', 1997, 'Neonatal disorders', 24368, 3),
 ('Afghanistan', 'AFG', 1997, 'Neoplasms', 13572, 4),
 ('Afghanistan', 'AFG', 1997, 'Diarrheal diseases', 10656, 5),
 ('Afghanistan', 'AFG', 1998, 'Cardiovascular diseases', 52720, 1),
 ('Afghanistan', 'AFG', 1998, 'Lower respiratory infections', 34943, 2),
 ('Afghanistan', 'AFG', 1998, 'Neonatal disorders', 24010, 3),
 ('Afghanistan', 'AFG', 1998, 'Neoplasms', 13695, 4),
 ('Afghanistan', 'AFG', 1998, 'Diarrheal diseases', 11155, 5),
 ('Afghanistan', 'AFG', 1999, 'Cardiovascular diseases', 53413, 1),
 ('Afghanistan', 'AFG', 1999, 'Lower respiratory infections', 33713, 2),
 ('Afghanistan', 'AFG', 1999, 'Neonatal disorders', 23386, 3),
 ('Afghanistan', 'AFG', 1999, 'Neoplasms', 13811, 4),
 ('Afghanistan', 'AFG', 1999, 'Diarrheal diseases', 11313, 5)]

The graph below was made with the full output of the query above, it is possible to observe the trends of the main causes of death through the years, it is also possible to appreciate the occurrence of natural disasters such as Haiti where the 2004 Hurricane Jane and 2010 earthquake increased the number of deaths.

In [14]:
%%html
<div class='tableauPlaceholder' id='viz1673365851677' style='position: relative'><noscript><a href='#'><img alt='Dashboard 1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Gr&#47;Graph2MortalityProject&#47;Dashboard1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='Graph2MortalityProject&#47;Dashboard1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Gr&#47;Graph2MortalityProject&#47;Dashboard1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='es-ES' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1673365851677');                    var vizElement = divElement.getElementsByTagName('object')[0];                    if ( divElement.offsetWidth > 800 ) { vizElement.style.minWidth='1020px';vizElement.style.maxWidth='1220px';vizElement.style.width='100%';vizElement.style.minHeight='587px';vizElement.style.maxHeight='687px';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';} else if ( divElement.offsetWidth > 500 ) { vizElement.style.minWidth='1020px';vizElement.style.maxWidth='1220px';vizElement.style.width='100%';vizElement.style.minHeight='587px';vizElement.style.maxHeight='687px';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';} else { vizElement.style.width='100%';vizElement.style.height='727px';}                     var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

### Deaths by age rank

Death is the well-known termination of the cycle of life, a cycle that in humans can last up to a hundred years, which is why premature deaths hurt human pride. The age of death is an important factor to consider in mortality analysis.

The following query separates the number of deaths by age segment:

In [15]:
%%sql

WITH deaths_by_age_group AS (
SELECT  
UNNEST (ARRAY ['Deaths in Age: 70+ years',
	   'Deaths in Age: 50-69 years',
	   'Deaths in Age: 15-49 years ',
	   'Deaths in Age: 5-14 years',
	   'Deaths in Age: Under 5']) AS deaths_by_age_group,
UNNEST (ARRAY ["Deaths - All causes - Age: 70+ years",
			  "Deaths - All causes - Age: 50-69 years",
			  "Deaths - All causes - Age: 15-49 years ",
			  "Deaths - All causes - Age: 5-14 years",
			  "Deaths - All causes - Age: Under 5"]) AS total
FROM mortality."number-of-deaths-by-age-group"
)
SELECT deaths_by_age_group, SUM(total) AS total
FROM deaths_by_age_group
GROUP BY 1
ORDER BY 2 DESC

 * postgresql://postgres:***@localhost/Project_1
5 rows affected.

[('Deaths in Age: 70+ years', 3881484346),
 ('Deaths in Age: 50-69 years', 2225629424),
 ('Deaths in Age: Under 5', 1382722603),
 ('Deaths in Age: 15-49 years ', 1370287363),
 ('Deaths in Age: 5-14 years', 167656457)]

It can be verified that in general terms the greatest number of deaths prevails in people over fifty years of age, followed by death in children under five years of age. However, this situation varies when compared by country.

The query below gives an output for the total number of deaths for each country by age rank:

In [16]:
%%sql

WITH deaths_by_age_group AS (
SELECT "Entity","Code", 
UNNEST (ARRAY ['Deaths Age: 70+ years',
	   'Deaths Age: 50-69 years',
	   'Deaths Age: 15-49 years ',
	   'Deaths Age: 5-14 years',
	   'Deaths Age: Under 5']) as deaths_by_age_group,
UNNEST (ARRAY ["Deaths - All causes - Age: 70+ years",
			  "Deaths - All causes - Age: 50-69 years",
			  "Deaths - All causes - Age: 15-49 years ",
			  "Deaths - All causes - Age: 5-14 years",
			  "Deaths - All causes - Age: Under 5"]) AS total
FROM mortality."number-of-deaths-by-age-group"
)
SELECT "Entity","Code",deaths_by_age_group, SUM(total) AS total
FROM deaths_by_age_group
WHERE "Code" IS NOT null AND "Code" NOT LIKE '%\_%'
GROUP BY 1,2,3
ORDER BY 1,4 DESC

 * postgresql://postgres:***@localhost/Project_1
1020 rows affected.

[('Afghanistan', 'AFG', 'Deaths Age: Under 5', 3022823),
 ('Afghanistan', 'AFG', 'Deaths Age: 15-49 years ', 1395214),
 ('Afghanistan', 'AFG', 'Deaths Age: 50-69 years', 1273138),
 ('Afghanistan', 'AFG', 'Deaths Age: 70+ years', 1259403),
 ('Afghanistan', 'AFG', 'Deaths Age: 5-14 years', 300093),
 ('Albania', 'ALB', 'Deaths Age: 70+ years', 317116),
 ('Albania', 'ALB', 'Deaths Age: 50-69 years', 120133),
 ('Albania', 'ALB', 'Deaths Age: 15-49 years ', 53832),
 ('Albania', 'ALB', 'Deaths Age: Under 5', 46563),
 ('Albania', 'ALB', 'Deaths Age: 5-14 years', 8476),
 ('Algeria', 'DZA', 'Deaths Age: 70+ years', 2063726),
 ('Algeria', 'DZA', 'Deaths Age: 50-69 years', 1059527),
 ('Algeria', 'DZA', 'Deaths Age: 15-49 years ', 863469),
 ('Algeria', 'DZA', 'Deaths Age: Under 5', 856664),
 ('Algeria', 'DZA', 'Deaths Age: 5-14 years', 136883),
 ('American Samoa', 'ASM', 'Deaths Age: 70+ years', 3555),
 ('American Samoa', 'ASM', 'Deaths Age: 50-69 years', 3080),
 ('American Samoa', 'ASM', 'Deaths Age: 15-49 years ', 1896),
 ('American Samoa', 'ASM', 'Deaths Age: Under 5', 612),
 ('American Samoa', 'ASM', 'Deaths Age: 5-14 years', 120),
 ('Andorra', 'AND', 'Deaths Age: 70+ years', 8781),
 ('Andorra', 'AND', 'Deaths Age: 50-69 years', 3037),
 ('Andorra', 'AND', 'Deaths Age: 15-49 years ', 1207),
 ('Andorra', 'AND', 'Deaths Age: Under 5', 75),
 ('Andorra', 'AND', 'Deaths Age: 5-14 years', 30),
 ('Angola', 'AGO', 'Deaths Age: Under 5', 2948402),
 ('Angola', 'AGO', 'Deaths Age: 15-49 years ', 1067546),
 ('Angola', 'AGO', 'Deaths Age: 50-69 years', 919940),
 ('Angola', 'AGO', 'Deaths Age: 70+ years', 615516),
 ('Angola', 'AGO', 'Deaths Age: 5-14 years', 228870),
 ('Antigua and Barbuda', 'ATG', 'Deaths Age: 70+ years', 8738),
 ('Antigua and Barbuda', 'ATG', 'Deaths Age: 50-69 years', 3817),
 ('Antigua and Barbuda', 'ATG', 'Deaths Age: 15-49 years ', 1909),
 ('Antigua and Barbuda', 'ATG', 'Deaths Age: Under 5', 513),
 ('Antigua and Barbuda', 'ATG', 'Deaths Age: 5-14 years', 119),
 ('Argentina', 'ARG', 'Deaths Age: 70+ years', 5239084),
 ('Argentina', 'ARG', 'Deaths Age: 50-69 years', 2292386),
 ('Argentina', 'ARG', 'Deaths Age: 15-49 years ', 907729),
 ('Argentina', 'ARG', 'Deaths Age: Under 5', 376927),
 ('Argentina', 'ARG', 'Deaths Age: 5-14 years', 55788),
 ('Armenia', 'ARM', 'Deaths Age: 70+ years', 431835),
 ('Armenia', 'ARM', 'Deaths Age: 50-69 years', 238801),
 ('Armenia', 'ARM', 'Deaths Age: 15-49 years ', 77997),
 ('Armenia', 'ARM', 'Deaths Age: Under 5', 38968),
 ('Armenia', 'ARM', 'Deaths Age: 5-14 years', 4562),
 ('Australia', 'AUS', 'Deaths Age: 70+ years', 2917350),
 ('Australia', 'AUS', 'Deaths Age: 50-69 years', 811943),
 ('Australia', 'AUS', 'Deaths Age: 15-49 years ', 298771),
 ('Australia', 'AUS', 'Deaths Age: Under 5', 46178),
 ('Australia', 'AUS', 'Deaths Age: 5-14 years', 9974),
 ('Austria', 'AUT', 'Deaths Age: 70+ years', 1727127),
 ('Austria', 'AUT', 'Deaths Age: 50-69 years', 468982),
 ('Austria', 'AUT', 'Deaths Age: 15-49 years ', 129516),
 ('Austria', 'AUT', 'Deaths Age: Under 5', 13665),
 ('Austria', 'AUT', 'Deaths Age: 5-14 years', 3224),
 ('Azerbaijan', 'AZE', 'Deaths Age: 70+ years', 829480),
 ('Azerbaijan', 'AZE', 'Deaths Age: 50-69 years', 615665),
 ('Azerbaijan', 'AZE', 'Deaths Age: 15-49 years ', 284421),
 ('Azerbaijan', 'AZE', 'Deaths Age: Under 5', 269361),
 ('Azerbaijan', 'AZE', 'Deaths Age: 5-14 years', 32805),
 ('Bahamas', 'BHS', 'Deaths Age: 70+ years', 22431),
 ('Bahamas', 'BHS', 'Deaths Age: 50-69 years', 17828),
 ('Bahamas', 'BHS', 'Deaths Age: 15-49 years ', 16977),
 ('Bahamas', 'BHS', 'Deaths Age: Under 5', 2369),
 ('Bahamas', 'BHS', 'Deaths Age: 5-14 years', 622),
 ('Bahrain', 'BHR', 'Deaths Age: 70+ years', 29068),
 ('Bahrain', 'BHR', 'Deaths Age: 50-69 years', 26081),
 ('Bahrain', 'BHR', 'Deaths Age: 15-49 years ', 20203),
 ('Bahrain', 'BHR', 'Deaths Age: Under 5', 5085),
 ('Bahrain', 'BHR', 'Deaths Age: 5-14 years', 1216),
 ('Bangladesh', 'BGD', 'Deaths Age: Under 5', 7483945),
 ('Bangladesh', 'BGD', 'Deaths Age: 70+ years', 7370044),
 ('Bangladesh', 'BGD', 'Deaths Age: 50-69 years', 5771798),
 ('Bangladesh', 'BGD', 'Deaths Age: 15-49 years ', 3903763),
 ('Bangladesh', 'BGD', 'Deaths Age: 5-14 years', 1406024),
 ('Barbados', 'BRB', 'Deaths Age: 70+ years', 48827),
 ('Barbados', 'BRB', 'Deaths Age: 50-69 years', 16569),
 ('Barbados', 'BRB', 'Deaths Age: 15-49 years ', 7820),
 ('Barbados', 'BRB', 'Deaths Age: Under 5', 1552),
 ('Barbados', 'BRB', 'Deaths Age: 5-14 years', 286),
 ('Belarus', 'BLR', 'Deaths Age: 70+ years', 2133061),
 ('Belarus', 'BLR', 'Deaths Age: 50-69 years', 1246059),
 ('Belarus', 'BLR', 'Deaths Age: 15-49 years ', 482092),
 ('Belarus', 'BLR', 'Deaths Age: Under 5', 39811),
 ('Belarus', 'BLR', 'Deaths Age: 5-14 years', 11341),
 ('Belgium', 'BEL', 'Deaths Age: 70+ years', 2315981),
 ('Belgium', 'BEL', 'Deaths Age: 50-69 years', 624341),
 ('Belgium', 'BEL', 'Deaths Age: 15-49 years ', 175820),
 ('Belgium', 'BEL', 'Deaths Age: Under 5', 20605),
 ('Belgium', 'BEL', 'Deaths Age: 5-14 years', 4766),
 ('Belize', 'BLZ', 'Deaths Age: 70+ years', 14773),
 ('Belize', 'BLZ', 'Deaths Age: 15-49 years ', 10716),
 ('Belize', 'BLZ', 'Deaths Age: 50-69 years', 9638),
 ('Belize', 'BLZ', 'Deaths Age: Under 5', 4822),
 ('Belize', 'BLZ', 'Deaths Age: 5-14 years', 878),
 ('Benin', 'BEN', 'Deaths Age: Under 5', 1296377),
 ('Benin', 'BEN', 'Deaths Age: 70+ years', 399969),
 ('Benin', 'BEN', 'Deaths Age: 15-49 years ', 345644),
 ('Benin', 'BEN', 'Deaths Age: 50-69 years', 320919),
 ('Benin', 'BEN', 'Deaths Age: 5-14 years', 86415),
 ('Bermuda', 'BMU', 'Deaths Age: 70+ years', 9043),
 ('Bermuda', 'BMU', 'Deaths Age: 50-69 years', 3746),
 ('Bermuda', 'BMU', 'Deaths Age: 15-49 years ', 1299),
 ('Bermuda', 'BMU', 'Deaths Age: Under 5', 145),
 ('Bermuda', 'BMU', 'Deaths Age: 5-14 years', 34),
 ('Bhutan', 'BTN', 'Deaths Age: 70+ years', 40445),
 ('Bhutan', 'BTN', 'Deaths Age: Under 5', 39747),
 ('Bhutan', 'BTN', 'Deaths Age: 50-69 years', 28243),
 ('Bhutan', 'BTN', 'Deaths Age: 15-49 years ', 20030),
 ('Bhutan', 'BTN', 'Deaths Age: 5-14 years', 3254),
 ('Bolivia', 'BOL', 'Deaths Age: 70+ years', 669038),
 ('Bolivia', 'BOL', 'Deaths Age: Under 5', 496236),
 ('Bolivia', 'BOL', 'Deaths Age: 50-69 years', 437028),
 ('Bolivia', 'BOL', 'Deaths Age: 15-49 years ', 281568),
 ('Bolivia', 'BOL', 'Deaths Age: 5-14 years', 46254),
 ('Bosnia and Herzegovina', 'BIH', 'Deaths Age: 70+ years', 581712),
 ('Bosnia and Herzegovina', 'BIH', 'Deaths Age: 50-69 years', 332200),
 ('Bosnia and Herzegovina', 'BIH', 'Deaths Age: 15-49 years ', 91787),
 ('Bosnia and Herzegovina', 'BIH', 'Deaths Age: Under 5', 14313),
 ('Bosnia and Herzegovina', 'BIH', 'Deaths Age: 5-14 years', 4690),
 ('Botswana', 'BWA', 'Deaths Age: 15-49 years ', 306571),
 ('Botswana', 'BWA', 'Deaths Age: 50-69 years', 157574),
 ('Botswana', 'BWA', 'Deaths Age: 70+ years', 105330),
 ('Botswana', 'BWA', 'Deaths Age: Under 5', 82454),
 ('Botswana', 'BWA', 'Deaths Age: 5-14 years', 12486),
 ('Brazil', 'BRA', 'Deaths Age: 70+ years', 13784225),
 ('Brazil', 'BRA', 'Deaths Age: 50-69 years', 9228756),
 ('Brazil', 'BRA', 'Deaths Age: 15-49 years ', 6877061),
 ('Brazil', 'BRA', 'Deaths Age: Under 5', 4013921),
 ('Brazil', 'BRA', 'Deaths Age: 5-14 years', 446923),
 ('Brunei', 'BRN', 'Deaths Age: 70+ years', 15065),
 ('Brunei', 'BRN', 'Deaths Age: 50-69 years', 12466),
 ('Brunei', 'BRN', 'Deaths Age: 15-49 years ', 9408),
 ('Brunei', 'BRN', 'Deaths Age: Under 5', 2057),
 ('Brunei', 'BRN', 'Deaths Age: 5-14 years', 547),
 ('Bulgaria', 'BGR', 'Deaths Age: 70+ years', 2368745),
 ('Bulgaria', 'BGR', 'Deaths Age: 50-69 years', 1061996),
 ('Bulgaria', 'BGR', 'Deaths Age: 15-49 years ', 251541),
 ('Bulgaria', 'BGR', 'Deaths Age: Under 5', 32027),
 ('Bulgaria', 'BGR', 'Deaths Age: 5-14 years', 8221),
 ('Burkina Faso', 'BFA', 'Deaths Age: Under 5', 2979769),
 ('Burkina Faso', 'BFA', 'Deaths Age: 15-49 years ', 802116),
 ('Burkina Faso', 'BFA', 'Deaths Age: 70+ years', 779915),
 ('Burkina Faso', 'BFA', 'Deaths Age: 50-69 years', 761582),
 ('Burkina Faso', 'BFA', 'Deaths Age: 5-14 years', 194708),
 ('Burundi', 'BDI', 'Deaths Age: Under 5', 1182998),
 ('Burundi', 'BDI', 'Deaths Age: 15-49 years ', 723174),
 ('Burundi', 'BDI', 'Deaths Age: 50-69 years', 492662),
 ('Burundi', 'BDI', 'Deaths Age: 70+ years', 392185),
 ('Burundi', 'BDI', 'Deaths Age: 5-14 years', 135472),
 ('Cambodia', 'KHM', 'Deaths Age: Under 5', 873472),
 ('Cambodia', 'KHM', 'Deaths Age: 70+ years', 852294),
 ('Cambodia', 'KHM', 'Deaths Age: 50-69 years', 776843),
 ('Cambodia', 'KHM', 'Deaths Age: 15-49 years ', 643113),
 ('Cambodia', 'KHM', 'Deaths Age: 5-14 years', 105921),
 ('Cameroon', 'CMR', 'Deaths Age: Under 5', 2329219),
 ('Cameroon', 'CMR', 'Deaths Age: 15-49 years ', 1313026),
 ('Cameroon', 'CMR', 'Deaths Age: 50-69 years', 984775),
 ('Cameroon', 'CMR', 'Deaths Age: 70+ years', 842220),
 ('Cameroon', 'CMR', 'Deaths Age: 5-14 years', 206164),
 ('Canada', 'CAN', 'Deaths Age: 70+ years', 4703042),
 ('Canada', 'CAN', 'Deaths Age: 50-69 years', 1545932),
 ('Canada', 'CAN', 'Deaths Age: 15-49 years ', 496085),
 ('Canada', 'CAN', 'Deaths Age: Under 5', 67694),
 ('Canada', 'CAN', 'Deaths Age: 5-14 years', 15915),
 ('Cape Verde', 'CPV', 'Deaths Age: 70+ years', 39110),
 ('Cape Verde', 'CPV', 'Deaths Age: 15-49 years ', 15424),
 ('Cape Verde', 'CPV', 'Deaths Age: Under 5', 15253),
 ('Cape Verde', 'CPV', 'Deaths Age: 50-69 years', 14759),
 ('Cape Verde', 'CPV', 'Deaths Age: 5-14 years', 1664),
 ('Central African Republic', 'CAF', 'Deaths Age: Under 5', 820885),
 ('Central African Republic', 'CAF', 'Deaths Age: 15-49 years ', 552454),
 ('Central African Republic', 'CAF', 'Deaths Age: 50-69 years', 393738),
 ('Central African Republic', 'CAF', 'Deaths Age: 70+ years', 182410),
 ('Central African Republic', 'CAF', 'Deaths Age: 5-14 years', 71410),
 ('Chad', 'TCD', 'Deaths Age: Under 5', 2333528),
 ('Chad', 'TCD', 'Deaths Age: 70+ years', 539187),
 ('Chad', 'TCD', 'Deaths Age: 15-49 years ', 512468),
 ('Chad', 'TCD', 'Deaths Age: 50-69 years', 475343),
 ('Chad', 'TCD', 'Deaths Age: 5-14 years', 148009),
 ('Chile', 'CHL', 'Deaths Age: 70+ years', 1520454),
 ('Chile', 'CHL', 'Deaths Age: 50-69 years', 693698),
 ('Chile', 'CHL', 'Deaths Age: 15-49 years ', 322226),
 ('Chile', 'CHL', 'Deaths Age: Under 5', 84444),
 ('Chile', 'CHL', 'Deaths Age: 5-14 years', 16454),
 ('China', 'CHN', 'Deaths Age: 70+ years', 142463887),
 ('China', 'CHN', 'Deaths Age: 50-69 years', 77046493),
 ('China', 'CHN', 'Deaths Age: 15-49 years ', 34773854),
 ('China', 'CHN', 'Deaths Age: Under 5', 15926083),
 ('China', 'CHN', 'Deaths Age: 5-14 years', 2908160),
 ('Colombia', 'COL', 'Deaths Age: 70+ years', 2618418),
 ('Colombia', 'COL', 'Deaths Age: 15-49 years ', 1418988),
 ('Colombia', 'COL', 'Deaths Age: 50-69 years', 1338110),
 ('Colombia', 'COL', 'Deaths Age: Under 5', 637924),
 ('Colombia', 'COL', 'Deaths Age: 5-14 years', 112844),
 ('Comoros', 'COM', 'Deaths Age: Under 5', 52326),
 ('Comoros', 'COM', 'Deaths Age: 70+ years', 44454),
 ('Comoros', 'COM', 'Deaths Age: 50-69 years', 30887),
 ('Comoros', 'COM', 'Deaths Age: 15-49 years ', 23949),
 ('Comoros', 'COM', 'Deaths Age: 5-14 years', 4829),
 ('Congo', 'COG', 'Deaths Age: 15-49 years ', 336940),
 ('Congo', 'COG', 'Deaths Age: Under 5', 306485),
 ('Congo', 'COG', 'Deaths Age: 50-69 years', 247540),
 ('Congo', 'COG', 'Deaths Age: 70+ years', 193751),
 ('Congo', 'COG', 'Deaths Age: 5-14 years', 35582),
 ('Cook Islands', 'COK', 'Deaths Age: 70+ years', 2040),
 ('Cook Islands', 'COK', 'Deaths Age: 50-69 years', 1341),
 ('Cook Islands', 'COK', 'Deaths Age: 15-49 years ', 554),
 ('Cook Islands', 'COK', 'Deaths Age: Under 5', 118),
 ('Cook Islands', 'COK', 'Deaths Age: 5-14 years', 23),
 ('Costa Rica', 'CRI', 'Deaths Age: 70+ years', 266609),
 ('Costa Rica', 'CRI', 'Deaths Age: 50-69 years', 123035),
 ('Costa Rica', 'CRI', 'Deaths Age: 15-49 years ', 82623),
 ('Costa Rica', 'CRI', 'Deaths Age: Under 5', 27430),
 ('Costa Rica', 'CRI', 'Deaths Age: 5-14 years', 5360),
 ("Cote d'Ivoire", 'CIV', 'Deaths Age: Under 5', 2722552),
 ("Cote d'Ivoire", 'CIV', 'Deaths Age: 15-49 years ', 1608531),
 ("Cote d'Ivoire", 'CIV', 'Deaths Age: 50-69 years', 992222),
 ("Cote d'Ivoire", 'CIV', 'Deaths Age: 70+ years', 694871),
 ("Cote d'Ivoire", 'CIV', 'Deaths Age: 5-14 years', 211454),
 ('Croatia', 'HRV', 'Deaths Age: 70+ years', 1010943),
 ('Croatia', 'HRV', 'Deaths Age: 50-69 years', 416600),
 ('Croatia', 'HRV', 'Deaths Age: 15-49 years ', 95974),
 ('Croatia', 'HRV', 'Deaths Age: Under 5', 10110),
 ('Croatia', 'HRV', 'Deaths Age: 5-14 years', 2769),
 ('Cuba', 'CUB', 'Deaths Age: 70+ years', 1580231),
 ('Cuba', 'CUB', 'Deaths Age: 50-69 years', 652881),
 ('Cuba', 'CUB', 'Deaths Age: 15-49 years ', 258454),
 ('Cuba', 'CUB', 'Deaths Age: Under 5', 34303),
 ('Cuba', 'CUB', 'Deaths Age: 5-14 years', 11435),
 ('Cyprus', 'CYP', 'Deaths Age: 70+ years', 147413),
 ('Cyprus', 'CYP', 'Deaths Age: 50-69 years', 43551),
 ('Cyprus', 'CYP', 'Deaths Age: 15-49 years ', 14216),
 ('Cyprus', 'CYP', 'Deaths Age: Under 5', 2445),
 ('Cyprus', 'CYP', 'Deaths Age: 5-14 years', 516),
 ('Czechia', 'CZE', 'Deaths Age: 70+ years', 2199429),
 ('Czechia', 'CZE', 'Deaths Age: 50-69 years', 892441),
 ('Czechia', 'CZE', 'Deaths Age: 15-49 years ', 209504),
 ('Czechia', 'CZE', 'Deaths Age: Under 5', 18093),
 ('Czechia', 'CZE', 'Deaths Age: 5-14 years', 5521),
 ('Democratic Republic of Congo', 'COD', 'Deaths Age: Under 5', 8933876),
 ('Democratic Republic of Congo', 'COD', 'Deaths Age: 15-49 years ', 3568112),
 ('Democratic Republic of Congo', 'COD', 'Deaths Age: 50-69 years', 3176881),
 ('Democratic Republic of Congo', 'COD', 'Deaths Age: 70+ years', 2665236),
 ('Democratic Republic of Congo', 'COD', 'Deaths Age: 5-14 years', 742978),
 ('Denmark', 'DNK', 'Deaths Age: 70+ years', 1210903),
 ('Denmark', 'DNK', 'Deaths Age: 50-69 years', 371160),
 ('Denmark', 'DNK', 'Deaths Age: 15-49 years ', 86526),
 ('Denmark', 'DNK', 'Deaths Age: Under 5', 10129),
 ('Denmark', 'DNK', 'Deaths Age: 5-14 years', 2116),
 ('Djibouti', 'DJI', 'Deaths Age: Under 5', 72460),
 ('Djibouti', 'DJI', 'Deaths Age: 15-49 years ', 47186),
 ('Djibouti', 'DJI', 'Deaths Age: 50-69 years', 36420),
 ('Djibouti', 'DJI', 'Deaths Age: 70+ years', 24250),
 ('Djibouti', 'DJI', 'Deaths Age: 5-14 years', 5377),
 ('Dominica', 'DMA', 'Deaths Age: 70+ years', 13656),
 ('Dominica', 'DMA', 'Deaths Age: 50-69 years', 4381),
 ('Dominica', 'DMA', 'Deaths Age: 15-49 years ', 2391),
 ('Dominica', 'DMA', 'Deaths Age: Under 5', 773),
 ('Dominica', 'DMA', 'Deaths Age: 5-14 years', 168),
 ('Dominican Republic', 'DOM', 'Deaths Age: 70+ years', 600852),
 ('Dominican Republic', 'DOM', 'Deaths Age: 50-69 years', 356187),
 ('Dominican Republic', 'DOM', 'Deaths Age: 15-49 years ', 326494),
 ('Dominican Republic', 'DOM', 'Deaths Age: Under 5', 283388),
 ('Dominican Republic', 'DOM', 'Deaths Age: 5-14 years', 28327),
 ('Ecuador', 'ECU', 'Deaths Age: 70+ years', 902944),
 ('Ecuador', 'ECU', 'Deaths Age: 50-69 years', 455786),
 ('Ecuador', 'ECU', 'Deaths Age: 15-49 years ', 435249),
 ('Ecuador', 'ECU', 'Deaths Age: Under 5', 277767),
 ('Ecuador', 'ECU', 'Deaths Age: 5-14 years', 52715),
 ('Egypt', 'EGY', 'Deaths Age: 70+ years', 4905458),
 ('Egypt', 'EGY', 'Deaths Age: 50-69 years', 4603201),
 ('Egypt', 'EGY', 'Deaths Age: Under 5', 2394149),
 ('Egypt', 'EGY', 'Deaths Age: 15-49 years ', 1942266),
 ('Egypt', 'EGY', 'Deaths Age: 5-14 years', 346436),
 ('El Salvador', 'SLV', 'Deaths Age: 70+ years', 435393),
 ('El Salvador', 'SLV', 'Deaths Age: 15-49 years ', 249492),
 ('El Salvador', 'SLV', 'Deaths Age: 50-69 years', 227446),
 ('El Salvador', 'SLV', 'Deaths Age: Under 5', 113921),
 ('El Salvador', 'SLV', 'Deaths Age: 5-14 years', 20489),
 ('Equatorial Guinea', 'GNQ', 'Deaths Age: Under 5', 89751),
 ('Equatorial Guinea', 'GNQ', 'Deaths Age: 15-49 years ', 50534),
 ('Equatorial Guinea', 'GNQ', 'Deaths Age: 50-69 years', 35551),
 ('Equatorial Guinea', 'GNQ', 'Deaths Age: 70+ years', 31895),
 ('Equatorial Guinea', 'GNQ', 'Deaths Age: 5-14 years', 8420),
 ('Eritrea', 'ERI', 'Deaths Age: Under 5', 457432),
 ('Eritrea', 'ERI', 'Deaths Age: 15-49 years ', 365139),
 ('Eritrea', 'ERI', 'Deaths Age: 50-69 years', 289230),
 ('Eritrea', 'ERI', 'Deaths Age: 70+ years', 154884),
 ('Eritrea', 'ERI', 'Deaths Age: 5-14 years', 50942),
 ('Estonia', 'EST', 'Deaths Age: 70+ years', 309670),
 ('Estonia', 'EST', 'Deaths Age: 50-69 years', 153688),
 ('Estonia', 'EST', 'Deaths Age: 15-49 years ', 54346),
 ('Estonia', 'EST', 'Deaths Age: Under 5', 4069),
 ('Estonia', 'EST', 'Deaths Age: 5-14 years', 1460),
 ('Eswatini', 'SWZ', 'Deaths Age: 15-49 years ', 173415),
 ('Eswatini', 'SWZ', 'Deaths Age: 50-69 years', 86950),
 ('Eswatini', 'SWZ', 'Deaths Age: Under 5', 76713),
 ('Eswatini', 'SWZ', 'Deaths Age: 70+ years', 51855),
 ('Eswatini', 'SWZ', 'Deaths Age: 5-14 years', 9920),
 ('Ethiopia', 'ETH', 'Deaths Age: Under 5', 10497273),
 ('Ethiopia', 'ETH', 'Deaths Age: 15-49 years ', 4571409),
 ('Ethiopia', 'ETH', 'Deaths Age: 50-69 years', 3684413),
 ('Ethiopia', 'ETH', 'Deaths Age: 70+ years', 3275166),
 ('Ethiopia', 'ETH', 'Deaths Age: 5-14 years', 929873),
 ('Fiji', 'FJI', 'Deaths Age: 50-69 years', 71370),
 ('Fiji', 'FJI', 'Deaths Age: 70+ years', 54088),
 ('Fiji', 'FJI', 'Deaths Age: 15-49 years ', 36723),
 ('Fiji', 'FJI', 'Deaths Age: Under 5', 13917),
 ('Fiji', 'FJI', 'Deaths Age: 5-14 years', 3355),
 ('Finland', 'FIN', 'Deaths Age: 70+ years', 1070975),
 ('Finland', 'FIN', 'Deaths Age: 50-69 years', 329136),
 ('Finland', 'FIN', 'Deaths Age: 15-49 years ', 98159),
 ('Finland', 'FIN', 'Deaths Age: Under 5', 6987),
 ('Finland', 'FIN', 'Deaths Age: 5-14 years', 2357),
 ('France', 'FRA', 'Deaths Age: 70+ years', 11546960),
 ('France', 'FRA', 'Deaths Age: 50-69 years', 3172097),
 ('France', 'FRA', 'Deaths Age: 15-49 years ', 1077142),
 ('France', 'FRA', 'Deaths Age: Under 5', 118255),
 ('France', 'FRA', 'Deaths Age: 5-14 years', 27769),
 ('Gabon', 'GAB', 'Deaths Age: 70+ years', 96631),
 ('Gabon', 'GAB', 'Deaths Age: 50-69 years', 92670),
 ('Gabon', 'GAB', 'Deaths Age: 15-49 years ', 88988),
 ('Gabon', 'GAB', 'Deaths Age: Under 5', 74799),
 ('Gabon', 'GAB', 'Deaths Age: 5-14 years', 8218),
 ('Gambia', 'GMB', 'Deaths Age: Under 5', 139098),
 ('Gambia', 'GMB', 'Deaths Age: 70+ years', 80225),
 ('Gambia', 'GMB', 'Deaths Age: 15-49 years ', 74754),
 ('Gambia', 'GMB', 'Deaths Age: 50-69 years', 67211),
 ('Gambia', 'GMB', 'Deaths Age: 5-14 years', 12073),
 ('Georgia', 'GEO', 'Deaths Age: 70+ years', 940051),
 ('Georgia', 'GEO', 'Deaths Age: 50-69 years', 448705),
 ('Georgia', 'GEO', 'Deaths Age: 15-49 years ', 155549),
 ('Georgia', 'GEO', 'Deaths Age: Under 5', 45732),
 ('Georgia', 'GEO', 'Deaths Age: 5-14 years', 6829),
 ('Germany', 'DEU', 'Deaths Age: 70+ years', 19100869),
 ('Germany', 'DEU', 'Deaths Age: 50-69 years', 5446534),
 ('Germany', 'DEU', 'Deaths Age: 15-49 years ', 1291429),
 ('Germany', 'DEU', 'Deaths Age: Under 5', 116580),
 ('Germany', 'DEU', 'Deaths Age: 5-14 years', 29309),
 ('Ghana', 'GHA', 'Deaths Age: Under 5', 1885551),
 ('Ghana', 'GHA', 'Deaths Age: 15-49 years ', 1301740),
 ('Ghana', 'GHA', 'Deaths Age: 50-69 years', 1217873),
 ('Ghana', 'GHA', 'Deaths Age: 70+ years', 1135333),
 ('Ghana', 'GHA', 'Deaths Age: 5-14 years', 193107),
 ('Greece', 'GRC', 'Deaths Age: 70+ years', 2393100),
 ('Greece', 'GRC', 'Deaths Age: 50-69 years', 588392),
 ('Greece', 'GRC', 'Deaths Age: 15-49 years ', 162214),
 ('Greece', 'GRC', 'Deaths Age: Under 5', 18234),
 ('Greece', 'GRC', 'Deaths Age: 5-14 years', 4720),
 ('Greenland', 'GRL', 'Deaths Age: 50-69 years', 5286),
 ('Greenland', 'GRL', 'Deaths Age: 70+ years', 4586),
 ('Greenland', 'GRL', 'Deaths Age: 15-49 years ', 3044),
 ('Greenland', 'GRL', 'Deaths Age: Under 5', 544),
 ('Greenland', 'GRL', 'Deaths Age: 5-14 years', 124),
 ('Grenada', 'GRD', 'Deaths Age: 70+ years', 11631),
 ('Grenada', 'GRD', 'Deaths Age: 50-69 years', 6377),
 ('Grenada', 'GRD', 'Deaths Age: 15-49 years ', 3096),

The graph below shows the global trend that fewer and fewer people die at a young age. Globally in 1990 25% of the deaths were from children under 5 years old and for the year 2019 this percentage reduced to 9%, and the number of deaths in people older than 70 years changed from 33% in 1990 to 50% in 2019. The deaths of children between 5-14 years have changed little over those years, from 3% in 1990 to 1% in 2019.

In [17]:
%%html
<div class='tableauPlaceholder' id='viz1673365927029' style='position: relative'><noscript><a href='#'><img alt='Dashboard 1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Gr&#47;Graph3MortalityProject&#47;Dashboard1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='Graph3MortalityProject&#47;Dashboard1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Gr&#47;Graph3MortalityProject&#47;Dashboard1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='es-ES' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1673365927029');                    var vizElement = divElement.getElementsByTagName('object')[0];                    if ( divElement.offsetWidth > 800 ) { vizElement.style.width='920px';vizElement.style.height='1087px';} else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='920px';vizElement.style.height='1087px';} else { vizElement.style.width='100%';vizElement.style.height='1177px';}                     var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

## 5. Exploring Child Mortality

The study of child mortality occupies a special place in the field of demographic research, since it represents the negative component of population growth. Also, the moral aspect that the death of a child implies encourages the search for strategies to reduce this condition.

The following query gives the total number of deaths in children under 5 years old for each country:

In [18]:
%%sql

WITH deaths_by_age_group AS (
SELECT "Entity","Code", 
UNNEST (ARRAY ['Deaths Age: 70+ years',
	   'Deaths Age: 50-69 years',
	   'Deaths Age: 15-49 years ',
	   'Deaths Age: 5-14 years',
	   'Deaths Age: Under 5']) as deaths_by_age_group,
UNNEST (ARRAY ["Deaths - All causes - Age: 70+ years",
			  "Deaths - All causes - Age: 50-69 years",
			  "Deaths - All causes - Age: 15-49 years ",
			  "Deaths - All causes - Age: 5-14 years",
			  "Deaths - All causes - Age: Under 5"]) as total
FROM mortality."number-of-deaths-by-age-group"
)
SELECT "Entity","Code",deaths_by_age_group, SUM(total) AS total
FROM deaths_by_age_group
WHERE "Code" IS NOT null AND "Code" NOT LIKE '%\_%'
GROUP BY 1,2,3 HAVING deaths_by_age_group = 'Deaths Age: Under 5'
ORDER BY 1,4 DESC

 * postgresql://postgres:***@localhost/Project_1
204 rows affected.

[('Afghanistan', 'AFG', 'Deaths Age: Under 5', 3022823),
 ('Albania', 'ALB', 'Deaths Age: Under 5', 46563),
 ('Algeria', 'DZA', 'Deaths Age: Under 5', 856664),
 ('American Samoa', 'ASM', 'Deaths Age: Under 5', 612),
 ('Andorra', 'AND', 'Deaths Age: Under 5', 75),
 ('Angola', 'AGO', 'Deaths Age: Under 5', 2948402),
 ('Antigua and Barbuda', 'ATG', 'Deaths Age: Under 5', 513),
 ('Argentina', 'ARG', 'Deaths Age: Under 5', 376927),
 ('Armenia', 'ARM', 'Deaths Age: Under 5', 38968),
 ('Australia', 'AUS', 'Deaths Age: Under 5', 46178),
 ('Austria', 'AUT', 'Deaths Age: Under 5', 13665),
 ('Azerbaijan', 'AZE', 'Deaths Age: Under 5', 269361),
 ('Bahamas', 'BHS', 'Deaths Age: Under 5', 2369),
 ('Bahrain', 'BHR', 'Deaths Age: Under 5', 5085),
 ('Bangladesh', 'BGD', 'Deaths Age: Under 5', 7483945),
 ('Barbados', 'BRB', 'Deaths Age: Under 5', 1552),
 ('Belarus', 'BLR', 'Deaths Age: Under 5', 39811),
 ('Belgium', 'BEL', 'Deaths Age: Under 5', 20605),
 ('Belize', 'BLZ', 'Deaths Age: Under 5', 4822),
 ('Benin', 'BEN', 'Deaths Age: Under 5', 1296377),
 ('Bermuda', 'BMU', 'Deaths Age: Under 5', 145),
 ('Bhutan', 'BTN', 'Deaths Age: Under 5', 39747),
 ('Bolivia', 'BOL', 'Deaths Age: Under 5', 496236),
 ('Bosnia and Herzegovina', 'BIH', 'Deaths Age: Under 5', 14313),
 ('Botswana', 'BWA', 'Deaths Age: Under 5', 82454),
 ('Brazil', 'BRA', 'Deaths Age: Under 5', 4013921),
 ('Brunei', 'BRN', 'Deaths Age: Under 5', 2057),
 ('Bulgaria', 'BGR', 'Deaths Age: Under 5', 32027),
 ('Burkina Faso', 'BFA', 'Deaths Age: Under 5', 2979769),
 ('Burundi', 'BDI', 'Deaths Age: Under 5', 1182998),
 ('Cambodia', 'KHM', 'Deaths Age: Under 5', 873472),
 ('Cameroon', 'CMR', 'Deaths Age: Under 5', 2329219),
 ('Canada', 'CAN', 'Deaths Age: Under 5', 67694),
 ('Cape Verde', 'CPV', 'Deaths Age: Under 5', 15253),
 ('Central African Republic', 'CAF', 'Deaths Age: Under 5', 820885),
 ('Chad', 'TCD', 'Deaths Age: Under 5', 2333528),
 ('Chile', 'CHL', 'Deaths Age: Under 5', 84444),
 ('China', 'CHN', 'Deaths Age: Under 5', 15926083),
 ('Colombia', 'COL', 'Deaths Age: Under 5', 637924),
 ('Comoros', 'COM', 'Deaths Age: Under 5', 52326),
 ('Congo', 'COG', 'Deaths Age: Under 5', 306485),
 ('Cook Islands', 'COK', 'Deaths Age: Under 5', 118),
 ('Costa Rica', 'CRI', 'Deaths Age: Under 5', 27430),
 ("Cote d'Ivoire", 'CIV', 'Deaths Age: Under 5', 2722552),
 ('Croatia', 'HRV', 'Deaths Age: Under 5', 10110),
 ('Cuba', 'CUB', 'Deaths Age: Under 5', 34303),
 ('Cyprus', 'CYP', 'Deaths Age: Under 5', 2445),
 ('Czechia', 'CZE', 'Deaths Age: Under 5', 18093),
 ('Democratic Republic of Congo', 'COD', 'Deaths Age: Under 5', 8933876),
 ('Denmark', 'DNK', 'Deaths Age: Under 5', 10129),
 ('Djibouti', 'DJI', 'Deaths Age: Under 5', 72460),
 ('Dominica', 'DMA', 'Deaths Age: Under 5', 773),
 ('Dominican Republic', 'DOM', 'Deaths Age: Under 5', 283388),
 ('Ecuador', 'ECU', 'Deaths Age: Under 5', 277767),
 ('Egypt', 'EGY', 'Deaths Age: Under 5', 2394149),
 ('El Salvador', 'SLV', 'Deaths Age: Under 5', 113921),
 ('Equatorial Guinea', 'GNQ', 'Deaths Age: Under 5', 89751),
 ('Eritrea', 'ERI', 'Deaths Age: Under 5', 457432),
 ('Estonia', 'EST', 'Deaths Age: Under 5', 4069),
 ('Eswatini', 'SWZ', 'Deaths Age: Under 5', 76713),
 ('Ethiopia', 'ETH', 'Deaths Age: Under 5', 10497273),
 ('Fiji', 'FJI', 'Deaths Age: Under 5', 13917),
 ('Finland', 'FIN', 'Deaths Age: Under 5', 6987),
 ('France', 'FRA', 'Deaths Age: Under 5', 118255),
 ('Gabon', 'GAB', 'Deaths Age: Under 5', 74799),
 ('Gambia', 'GMB', 'Deaths Age: Under 5', 139098),
 ('Georgia', 'GEO', 'Deaths Age: Under 5', 45732),
 ('Germany', 'DEU', 'Deaths Age: Under 5', 116580),
 ('Ghana', 'GHA', 'Deaths Age: Under 5', 1885551),
 ('Greece', 'GRC', 'Deaths Age: Under 5', 18234),
 ('Greenland', 'GRL', 'Deaths Age: Under 5', 544),
 ('Grenada', 'GRD', 'Deaths Age: Under 5', 952),
 ('Guam', 'GUM', 'Deaths Age: Under 5', 1356),
 ('Guatemala', 'GTM', 'Deaths Age: Under 5', 481857),
 ('Guinea', 'GIN', 'Deaths Age: Under 5', 1731917),
 ('Guinea-Bissau', 'GNB', 'Deaths Age: Under 5', 226751),
 ('Guyana', 'GUY', 'Deaths Age: Under 5', 19277),
 ('Haiti', 'HTI', 'Deaths Age: Under 5', 878748),
 ('Honduras', 'HND', 'Deaths Age: Under 5', 192321),
 ('Hungary', 'HUN', 'Deaths Age: Under 5', 27647),
 ('Iceland', 'ISL', 'Deaths Age: Under 5', 493),
 ('India', 'IND', 'Deaths Age: Under 5', 55471807),
 ('Indonesia', 'IDN', 'Deaths Age: Under 5', 6851203),
 ('Iran', 'IRN', 'Deaths Age: Under 5', 1636216),
 ('Iraq', 'IRQ', 'Deaths Age: Under 5', 1023368),
 ('Ireland', 'IRL', 'Deaths Age: Under 5', 9871),
 ('Israel', 'ISR', 'Deaths Age: Under 5', 26130),
 ('Italy', 'ITA', 'Deaths Age: Under 5', 86301),
 ('Jamaica', 'JAM', 'Deaths Age: Under 5', 28738),
 ('Japan', 'JPN', 'Deaths Age: Under 5', 139534),
 ('Jordan', 'JOR', 'Deaths Age: Under 5', 110981),
 ('Kazakhstan', 'KAZ', 'Deaths Age: Under 5', 245844),
 ('Kenya', 'KEN', 'Deaths Age: Under 5', 2531215),
 ('Kiribati', 'KIR', 'Deaths Age: Under 5', 4419),
 ('Kuwait', 'KWT', 'Deaths Age: Under 5', 17210),
 ('Kyrgyzstan', 'KGZ', 'Deaths Age: Under 5', 130479),
 ('Laos', 'LAO', 'Deaths Age: Under 5', 514960),
 ('Latvia', 'LVA', 'Deaths Age: Under 5', 8228),
 ('Lebanon', 'LBN', 'Deaths Age: Under 5', 56184),
 ('Lesotho', 'LSO', 'Deaths Age: Under 5', 150759),
 ('Liberia', 'LBR', 'Deaths Age: Under 5', 480586),
 ('Libya', 'LBY', 'Deaths Age: Under 5', 89920),
 ('Lithuania', 'LTU', 'Deaths Age: Under 5', 11026),
 ('Luxembourg', 'LUX', 'Deaths Age: Under 5', 707),
 ('Madagascar', 'MDG', 'Deaths Age: Under 5', 1967825),
 ('Malawi', 'MWI', 'Deaths Age: Under 5', 1977920),
 ('Malaysia', 'MYS', 'Deaths Age: Under 5', 149385),
 ('Maldives', 'MDV', 'Deaths Age: Under 5', 7716),
 ('Mali', 'MLI', 'Deaths Age: Under 5', 3177286),
 ('Malta', 'MLT', 'Deaths Age: Under 5', 1023),
 ('Marshall Islands', 'MHL', 'Deaths Age: Under 5', 1298),
 ('Mauritania', 'MRT', 'Deaths Age: Under 5', 240765),
 ('Mauritius', 'MUS', 'Deaths Age: Under 5', 9227),
 ('Mexico', 'MEX', 'Deaths Age: Under 5', 1878915),
 ('Micronesia (country)', 'FSM', 'Deaths Age: Under 5', 2186),
 ('Moldova', 'MDA', 'Deaths Age: Under 5', 33223),
 ('Monaco', 'MCO', 'Deaths Age: Under 5', 36),
 ('Mongolia', 'MNG', 'Deaths Age: Under 5', 98665),
 ('Montenegro', 'MNE', 'Deaths Age: Under 5', 2560),
 ('Morocco', 'MAR', 'Deaths Age: Under 5', 1012643),
 ('Mozambique', 'MOZ', 'Deaths Age: Under 5', 3368558),
 ('Myanmar', 'MMR', 'Deaths Age: Under 5', 3355993),
 ('Namibia', 'NAM', 'Deaths Age: Under 5', 94530),
 ('Nauru', 'NRU', 'Deaths Age: Under 5', 420),
 ('Nepal', 'NPL', 'Deaths Age: Under 5', 1651818),
 ('Netherlands', 'NLD', 'Deaths Age: Under 5', 31903),
 ('New Zealand', 'NZL', 'Deaths Age: Under 5', 12793),
 ('Nicaragua', 'NIC', 'Deaths Age: Under 5', 130583),
 ('Niger', 'NER', 'Deaths Age: Under 5', 3796564),
 ('Nigeria', 'NGA', 'Deaths Age: Under 5', 28074561),
 ('Niue', 'NIU', 'Deaths Age: Under 5', 27),
 ('North Korea', 'PRK', 'Deaths Age: Under 5', 806982),
 ('North Macedonia', 'MKD', 'Deaths Age: Under 5', 13815),
 ('Northern Mariana Islands', 'MNP', 'Deaths Age: Under 5', 312),
 ('Norway', 'NOR', 'Deaths Age: Under 5', 7829),
 ('Oman', 'OMN', 'Deaths Age: Under 5', 31963),
 ('Pakistan', 'PAK', 'Deaths Age: Under 5', 15678563),
 ('Palau', 'PLW', 'Deaths Age: Under 5', 201),
 ('Palestine', 'PSE', 'Deaths Age: Under 5', 98089),
 ('Panama', 'PAN', 'Deaths Age: Under 5', 40487),
 ('Papua New Guinea', 'PNG', 'Deaths Age: Under 5', 465434),
 ('Paraguay', 'PRY', 'Deaths Age: Under 5', 93234),
 ('Peru', 'PER', 'Deaths Age: Under 5', 718279),
 ('Philippines', 'PHL', 'Deaths Age: Under 5', 2507376),
 ('Poland', 'POL', 'Deaths Age: Under 5', 116467),
 ('Portugal', 'PRT', 'Deaths Age: Under 5', 20914),
 ('Puerto Rico', 'PRI', 'Deaths Age: Under 5', 16460),
 ('Qatar', 'QAT', 'Deaths Age: Under 5', 6752),
 ('Romania', 'ROU', 'Deaths Age: Under 5', 127537),
 ('Russia', 'RUS', 'Deaths Age: Under 5', 690915),
 ('Rwanda', 'RWA', 'Deaths Age: Under 5', 1155780),
 ('Saint Kitts and Nevis', 'KNA', 'Deaths Age: Under 5', 531),
 ('Saint Lucia', 'LCA', 'Deaths Age: Under 5', 1553),
 ('Saint Vincent and the Grenadines', 'VCT', 'Deaths Age: Under 5', 1464),
 ('Samoa', 'WSM', 'Deaths Age: Under 5', 1971),
 ('San Marino', 'SMR', 'Deaths Age: Under 5', 47),
 ('Sao Tome and Principe', 'STP', 'Deaths Age: Under 5', 9175),
 ('Saudi Arabia', 'SAU', 'Deaths Age: Under 5', 319921),
 ('Senegal', 'SEN', 'Deaths Age: Under 5', 1120793),
 ('Serbia', 'SRB', 'Deaths Age: Under 5', 46023),
 ('Seychelles', 'SYC', 'Deaths Age: Under 5', 671),
 ('Sierra Leone', 'SLE', 'Deaths Age: Under 5', 1116200),
 ('Singapore', 'SGP', 'Deaths Age: Under 5', 6007),
 ('Slovakia', 'SVK', 'Deaths Age: Under 5', 16633),
 ('Slovenia', 'SVN', 'Deaths Age: Under 5', 2879),
 ('Solomon Islands', 'SLB', 'Deaths Age: Under 5', 21249),
 ('Somalia', 'SOM', 'Deaths Age: Under 5', 2331995),
 ('South Africa', 'ZAF', 'Deaths Age: Under 5', 1999518),
 ('South Korea', 'KOR', 'Deaths Age: Under 5', 106267),
 ('South Sudan', 'SSD', 'Deaths Age: Under 5', 1363151),
 ('Spain', 'ESP', 'Deaths Age: Under 5', 64599),
 ('Sri Lanka', 'LKA', 'Deaths Age: Under 5', 165157),
 ('Sudan', 'SDN', 'Deaths Age: Under 5', 3119934),
 ('Suriname', 'SUR', 'Deaths Age: Under 5', 10955),
 ('Sweden', 'SWE', 'Deaths Age: Under 5', 12518),
 ('Switzerland', 'CHE', 'Deaths Age: Under 5', 13124),
 ('Syria', 'SYR', 'Deaths Age: Under 5', 356591),
 ('Taiwan', 'TWN', 'Deaths Age: Under 5', 50992),
 ('Tajikistan', 'TJK', 'Deaths Age: Under 5', 353169),
 ('Tanzania', 'TZA', 'Deaths Age: Under 5', 4937114),
 ('Thailand', 'THA', 'Deaths Age: Under 5', 414050),
 ('Timor', 'TLS', 'Deaths Age: Under 5', 77981),
 ('Togo', 'TGO', 'Deaths Age: Under 5', 657593),
 ('Tokelau', 'TKL', 'Deaths Age: Under 5', 19),
 ('Tonga', 'TON', 'Deaths Age: Under 5', 1526),
 ('Trinidad and Tobago', 'TTO', 'Deaths Age: Under 5', 12285),
 ('Tunisia', 'TUN', 'Deaths Age: Under 5', 169391),
 ('Turkey', 'TUR', 'Deaths Age: Under 5', 1534995),
 ('Turkmenistan', 'TKM', 'Deaths Age: Under 5', 167652),
 ('Tuvalu', 'TUV', 'Deaths Age: Under 5', 254),
 ('Uganda', 'UGA', 'Deaths Age: Under 5', 4168780),
 ('Ukraine', 'UKR', 'Deaths Age: Under 5', 190888),
 ('United Arab Emirates', 'ARE', 'Deaths Age: Under 5', 17607),
 ('United Kingdom', 'GBR', 'Deaths Age: Under 5', 135893),
 ('United States', 'USA', 'Deaths Age: Under 5', 984910),
 ('United States Virgin Islands', 'VIR', 'Deaths Age: Under 5', 601),
 ('Uruguay', 'URY', 'Deaths Age: Under 5', 23882),
 ('Uzbekistan', 'UZB', 'Deaths Age: Under 5', 786970),
 ('Vanuatu', 'VUT', 'Deaths Age: Under 5', 6455),
 ('Venezuela', 'VEN', 'Deaths Age: Under 5', 358319),
 ('Vietnam', 'VNM', 'Deaths Age: Under 5', 1236639),
 ('Yemen', 'YEM', 'Deaths Age: Under 5', 2032021),
 ('Zambia', 'ZMB', 'Deaths Age: Under 5', 1567828),
 ('Zimbabwe', 'ZWE', 'Deaths Age: Under 5', 898523)]

Organizing the output into a graph is possible to see that globally India registers the highest number of deaths in children under 5 years old. It is also possible to separate this number by region. In North America, the country with the most deaths registered is the United States and the one with the least is Greenland. On the other hand, in Latin America, the higher number of deaths occurs in Brazil, followed by Mexico and Haiti. In the African region, the country with the most deaths in Nigeria, followed by Ethiopia and the Democratic Republic of Congo. If the focus is on Europe, it is possible to see that Russia leads the list followed by Ukraine and the United Kingdom. In contrast in the Asiatic region, India leads followed by China and Pakistan. Finally, in Oceania, Papua Nueva Guinea has the higher number of deaths.

In [19]:
%%html
<div class='tableauPlaceholder' id='viz1673365988007' style='position: relative'><noscript><a href='#'><img alt='Dashboard 1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Gr&#47;Graph4MortalityProject&#47;Dashboard1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='Graph4MortalityProject&#47;Dashboard1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Gr&#47;Graph4MortalityProject&#47;Dashboard1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='es-ES' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1673365988007');                    var vizElement = divElement.getElementsByTagName('object')[0];                    if ( divElement.offsetWidth > 800 ) { vizElement.style.minWidth='400px';vizElement.style.maxWidth='900px';vizElement.style.width='100%';vizElement.style.minHeight='787px';vizElement.style.maxHeight='987px';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';} else if ( divElement.offsetWidth > 500 ) { vizElement.style.minWidth='400px';vizElement.style.maxWidth='900px';vizElement.style.width='100%';vizElement.style.minHeight='787px';vizElement.style.maxHeight='987px';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';} else { vizElement.style.width='100%';vizElement.style.height='2377px';}                     var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

It is a fact that the trend of the mayority of death occurring after the age of 50 is not uniform throughout the world.
The following query gives a list of countries in which, the death under 5 years old have the highest number of registered

### Countries with majority of deaths occurring in children under five years of age

In [20]:
%%sql


WITH deaths_by_age_group AS (
SELECT "Entity","Code", 
UNNEST (ARRAY ['Deaths: 70+ years',
	   'Deaths: 50-69 years',
	   'Deaths: 15-49 years ',
	   'Deaths: 5-14 years',
	   'Deaths: Under 5']) AS deaths_by_age_group,
UNNEST (ARRAY ["Deaths - All causes - Age: 70+ years",
			  "Deaths - All causes - Age: 50-69 years",
			  "Deaths - All causes - Age: 15-49 years ",
			  "Deaths - All causes - Age: 5-14 years",
			  "Deaths - All causes - Age: Under 5"]) AS total
FROM mortality."number-of-deaths-by-age-group"
)

SELECT countries_with_under5_mortality.* FROM (
SELECT "Entity","Code",deaths_by_age_group, SUM(total) AS total,
RANK() OVER(PARTITION BY "Entity" ORDER BY MAX(total) DESC) AS rn
FROM deaths_by_age_group
WHERE "Code" IS NOT null AND "Code" NOT LIKE '%\_%'
GROUP BY 1,2,3
ORDER BY 1,4 DESC
) AS countries_with_under5_mortality
WHERE deaths_by_age_group = 'Deaths: Under 5' AND rn = 1
ORDER BY 1

 * postgresql://postgres:***@localhost/Project_1
46 rows affected.

[('Afghanistan', 'AFG', 'Deaths: Under 5', 3022823, 1),
 ('Angola', 'AGO', 'Deaths: Under 5', 2948402, 1),
 ('Bangladesh', 'BGD', 'Deaths: Under 5', 7483945, 1),
 ('Benin', 'BEN', 'Deaths: Under 5', 1296377, 1),
 ('Bhutan', 'BTN', 'Deaths: Under 5', 39747, 1),
 ('Burkina Faso', 'BFA', 'Deaths: Under 5', 2979769, 1),
 ('Burundi', 'BDI', 'Deaths: Under 5', 1182998, 1),
 ('Cambodia', 'KHM', 'Deaths: Under 5', 873472, 1),
 ('Cameroon', 'CMR', 'Deaths: Under 5', 2329219, 1),
 ('Central African Republic', 'CAF', 'Deaths: Under 5', 820885, 1),
 ('Chad', 'TCD', 'Deaths: Under 5', 2333528, 1),
 ('Comoros', 'COM', 'Deaths: Under 5', 52326, 1),
 ("Cote d'Ivoire", 'CIV', 'Deaths: Under 5', 2722552, 1),
 ('Democratic Republic of Congo', 'COD', 'Deaths: Under 5', 8933876, 1),
 ('Djibouti', 'DJI', 'Deaths: Under 5', 72460, 1),
 ('Equatorial Guinea', 'GNQ', 'Deaths: Under 5', 89751, 1),
 ('Eritrea', 'ERI', 'Deaths: Under 5', 457432, 1),
 ('Ethiopia', 'ETH', 'Deaths: Under 5', 10497273, 1),
 ('Gambia', 'GMB', 'Deaths: Under 5', 139098, 1),
 ('Ghana', 'GHA', 'Deaths: Under 5', 1885551, 1),
 ('Guinea', 'GIN', 'Deaths: Under 5', 1731917, 1),
 ('Guinea-Bissau', 'GNB', 'Deaths: Under 5', 226751, 1),
 ('Laos', 'LAO', 'Deaths: Under 5', 514960, 1),
 ('Liberia', 'LBR', 'Deaths: Under 5', 480586, 1),
 ('Madagascar', 'MDG', 'Deaths: Under 5', 1967825, 1),
 ('Malawi', 'MWI', 'Deaths: Under 5', 1977920, 1),
 ('Mali', 'MLI', 'Deaths: Under 5', 3177286, 1),
 ('Mauritania', 'MRT', 'Deaths: Under 5', 240765, 1),
 ('Mozambique', 'MOZ', 'Deaths: Under 5', 3368558, 1),
 ('Myanmar', 'MMR', 'Deaths: Under 5', 3355993, 1),
 ('Nepal', 'NPL', 'Deaths: Under 5', 1651818, 1),
 ('Niger', 'NER', 'Deaths: Under 5', 3796564, 1),
 ('Nigeria', 'NGA', 'Deaths: Under 5', 28074561, 1),
 ('Pakistan', 'PAK', 'Deaths: Under 5', 15678563, 1),
 ('Sao Tome and Principe', 'STP', 'Deaths: Under 5', 9175, 1),
 ('Senegal', 'SEN', 'Deaths: Under 5', 1120793, 1),
 ('Sierra Leone', 'SLE', 'Deaths: Under 5', 1116200, 1),
 ('Somalia', 'SOM', 'Deaths: Under 5', 2331995, 1),
 ('South Sudan', 'SSD', 'Deaths: Under 5', 1363151, 1),
 ('Sudan', 'SDN', 'Deaths: Under 5', 3119934, 1),
 ('Tanzania', 'TZA', 'Deaths: Under 5', 4937114, 1),
 ('Timor', 'TLS', 'Deaths: Under 5', 77981, 1),
 ('Togo', 'TGO', 'Deaths: Under 5', 657593, 1),
 ('Uganda', 'UGA', 'Deaths: Under 5', 4168780, 1),
 ('Yemen', 'YEM', 'Deaths: Under 5', 2032021, 1),
 ('Zambia', 'ZMB', 'Deaths: Under 5', 1567828, 1)]

### General causes of death of children under five years of age

Exploring the causes of death in children under 5 years of age, it is possible to see that globally the main causes of death consist of neonatal (newborn infants less than 28 days old) disorders, infections, and congenital (from birth) defects. Lower respiratory infections have 25% of registered cases, followed by neonatal preterm birth at 23% and congenital birth defects at 20%. Children under 5 years of age are also susceptible to diarrheal infections, malnutrition, and nutritional deficiencies. It is possible to see that the main cause of death in this population vary across countries, being the nature of the deaths different for low and high-income countries, for example in the United States the main cause of death is neonatal preterm birth while in Haiti the main cause is a diarrheal disease.

The graph below shows the total number of deaths by cause and the leading causes of death through years, only the first five causes of death per year were taken into account for all countries overall:

In [21]:
%%html
<div class='tableauPlaceholder' id='viz1673366956891' style='position: relative'><noscript><a href='#'><img alt='Dashboard 1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Gr&#47;Graph5MortalityProject&#47;Dashboard1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='Graph5MortalityProject&#47;Dashboard1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Gr&#47;Graph5MortalityProject&#47;Dashboard1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='es-ES' /><param name='filter' value='publish=yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1673366956891');                    var vizElement = divElement.getElementsByTagName('object')[0];                    if ( divElement.offsetWidth > 800 ) { vizElement.style.minWidth='520px';vizElement.style.maxWidth='950px';vizElement.style.width='100%';vizElement.style.height='1087px';} else if ( divElement.offsetWidth > 500 ) { vizElement.style.minWidth='520px';vizElement.style.maxWidth='950px';vizElement.style.width='100%';vizElement.style.height='1087px';} else { vizElement.style.width='100%';vizElement.style.height='1177px';}                     var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

## Conclusion

Data analysis allows for obtaining information that can offer practical and valuable solutions to existing problems, one of the most powerful tools for data analysis is SQL, which allows structured data to be thoroughly cleaned and analyzed. In this notebook, the task of analyzing mortality data using SQL and Tableau was proposed, it was achievable to analyze the data set to extract answers to the questions initially raised. 
In this way, one of the insights was that the main cause of death in the world is cardiovascular diseases, the same way it was possible to get the main countries with the most registered deaths and also their main causes of death.
Several main causes of death were taken into consideration to distinguish trends over the years for all countries, also in this analysis was attainable to observe natural disasters such as the earthquake in Haiti. 
When comparing by age range, could be discovered that fewer deaths of children under five years of age are registered annually, however, this trend was not absolute, and a list of countries where this trend is not met was set. Finally, the main causes of death in the child population and their variation over the years were determined.